## 1 - Missing Values
Identificación: Primero debes identificar dónde faltan datos en tu conjunto. Esto puede hacerse utilizando herramientas de visualización como mapas de calor o utilizando funciones específicas que sumaricen la cantidad de datos faltantes por variable.
Tratamiento: Luego, debes decidir cómo manejar estos valores faltantes, lo cual puede incluir técnicas como imputación (rellenar los valores faltantes con la media, mediana, moda, o mediante métodos más sofisticados como KNN o imputación múltiple), o simplemente eliminando las filas o columnas con demasiados valores faltantes.

In [1]:
from IPython.display import display
import sys
import pandas as pd
from tqdm.notebook import tqdm
sys.path.append('../src')
from data.load_raw import load_raw
from data.exploration import detect_nulls

# Load the raw data files
files_df = load_raw()

for file_name, df in tqdm(files_df.items(), desc="Processing Files"):
    try:
        print(f'START {file_name}'.center(100, "="))
        
        nulls = detect_nulls(df)
        
         # Check if there are any null values in the DataFrame
        if nulls.sum() > 0:
            nulls_df = pd.DataFrame(nulls).transpose()
            display(nulls_df)
        else:
            print("No nulls detected.")
            
        print(f'END {file_name}'.center(100, "="))
    except Exception as e:
        print(f"Error processing {file_name}: {e}")

/Users/admin/Library/Python/3.9/lib/python/site-packages/dask/dataframe/_pyarrow_compat.py:17: FutureWarning: Minimal version of pyarrow will soon be increased to 14.0.1. You are using 13.0.0. Please consider upgrading.
  warnings.warn(
100%|██████████| 44/44 [00:00<00:00, 156.32it/s]

Processing Files:   0%|          | 0/44 [00:00<?, ?it/s]

============================START 2020_01_Gener_BicingNou_ESTACIONS.csv=============================
No nulls detected.
=============================END 2020_01_Gener_BicingNou_ESTACIONS.csv==============================
============================START 2020_02_Febrer_BicingNou_ESTACIONS.csv============================
No nulls detected.
=============================END 2020_02_Febrer_BicingNou_ESTACIONS.csv=============================
============================START 2020_04_Abril_BicingNou_ESTACIONS.csv=============================
No nulls detected.
=============================END 2020_04_Abril_BicingNou_ESTACIONS.csv==============================
=============================START 2020_05_Maig_BicingNou_ESTACIONS.csv=============================
No nulls detected.
==============================END 2020_05_Maig_BicingNou_ESTACIONS.csv==============================
=============================START 2020_06_Juny_BicingNou_ESTACIONS.csv=============================
No nulls detected.
==============================END 2020_06_Juny_BicingNou_ESTACIONS.csv==============================
============================START 2020_07_Juliol_BicingNou_ESTACIONS.csv============================
No nulls detected.
=============================END 2020_07_Juliol_BicingNou_ESTACIONS.csv=============================
============================START 2020_08_Agost_BicingNou_ESTACIONS.csv=============================
No nulls detected.
=============================END 2020_08_Agost_BicingNou_ESTACIONS.csv==============================
===========================START 2020_09_Setembre_BicingNou_ESTACIONS.csv===========================
No nulls detected.
============================END 2020_09_Setembre_BicingNou_ESTACIONS.csv============================
===========================START 2020_10_Octubre_BicingNou_ESTACIONS.csv============================
No nulls detected.
============================END 2020_10_Octubre_BicingNou_ESTACIONS.csv=============================
===========================START 2020_11_Novembre_BicingNou_ESTACIONS.csv===========================
No nulls detected.
============================END 2020_11_Novembre_BicingNou_ESTACIONS.csv============================
===========================START 2020_12_Desembre_BicingNou_ESTACIONS.csv===========================
No nulls detected.
============================END 2020_12_Desembre_BicingNou_ESTACIONS.csv============================
============================START 2021_01_Gener_BicingNou_ESTACIONS.csv=============================
No nulls detected.
=============================END 2021_01_Gener_BicingNou_ESTACIONS.csv==============================
============================START 2021_02_Febrer_BicingNou_ESTACIONS.csv============================
No nulls detected.
=============================END 2021_02_Febrer_BicingNou_ESTACIONS.csv=============================
============================START 2021_04_Abril_BicingNou_ESTACIONS.csv=============================
No nulls detected.
=============================END 2021_04_Abril_BicingNou_ESTACIONS.csv==============================
=============================START 2021_05_Maig_BicingNou_ESTACIONS.csv=============================
No nulls detected.
==============================END 2021_05_Maig_BicingNou_ESTACIONS.csv==============================
=============================START 2021_06_Juny_BicingNou_ESTACIONS.csv=============================
No nulls detected.
==============================END 2021_06_Juny_BicingNou_ESTACIONS.csv==============================
============================START 2021_07_Juliol_BicingNou_ESTACIONS.csv============================
No nulls detected.
=============================END 2021_07_Juliol_BicingNou_ESTACIONS.csv=============================
============================START 2021_08_Agost_BicingNou_ESTACIONS.csv=============================
No nulls detected.
=============================END 2021_08_Agost_BicingNou_ESTACIONS.csv==============================
===========================START 2021_09_Setembre_BicingNou_ESTACIONS.csv===========================
No nulls detected.
============================END 2021_09_Setembre_BicingNou_ESTACIONS.csv============================
===========================START 2021_10_Octubre_BicingNou_ESTACIONS.csv============================
No nulls detected.
============================END 2021_10_Octubre_BicingNou_ESTACIONS.csv=============================
===========================START 2021_11_Novembre_BicingNou_ESTACIONS.csv===========================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,last_updated,ttl,traffic
0,0,0,0,0,0,0,0,0,0,0,0,0,0,4169637

============================END 2021_11_Novembre_BicingNou_ESTACIONS.csv============================
===========================START 2021_12_Desembre_BicingNou_ESTACIONS.csv===========================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,0,0,0,0,0,0,0,0,0,0,0,3709046,0,0

============================END 2021_12_Desembre_BicingNou_ESTACIONS.csv============================
============================START 2022_01_Gener_BicingNou_ESTACIONS.csv=============================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,0,0,0,0,0,0,0,0,0,0,0,4390690,0,0

=============================END 2022_01_Gener_BicingNou_ESTACIONS.csv==============================
============================START 2022_02_Febrer_BicingNou_ESTACIONS.csv============================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,0,0,0,0,0,0,0,0,0,0,0,3936804,0,0

=============================END 2022_02_Febrer_BicingNou_ESTACIONS.csv=============================
============================START 2022_04_Abril_BicingNou_ESTACIONS.csv=============================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,0,0,0,0,0,0,0,0,0,0,0,4371369,0,0

=============================END 2022_04_Abril_BicingNou_ESTACIONS.csv==============================
=============================START 2022_05_Maig_BicingNou_ESTACIONS.csv=============================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,0,0,0,0,0,0,0,0,0,0,0,4523985,0,0

==============================END 2022_05_Maig_BicingNou_ESTACIONS.csv==============================
=============================START 2022_06_Juny_BicingNou_ESTACIONS.csv=============================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,0,0,0,0,0,0,0,0,0,0,0,4382454,0,0

==============================END 2022_06_Juny_BicingNou_ESTACIONS.csv==============================
============================START 2022_07_Juliol_BicingNou_ESTACIONS.csv============================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,0,0,0,0,0,0,0,0,0,0,0,4524353,0,0

=============================END 2022_07_Juliol_BicingNou_ESTACIONS.csv=============================
============================START 2022_08_Agost_BicingNou_ESTACIONS.csv=============================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,0,0,0,0,0,0,0,0,0,0,0,4497691,0,0

=============================END 2022_08_Agost_BicingNou_ESTACIONS.csv==============================
===========================START 2022_09_Setembre_BicingNou_ESTACIONS.csv===========================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,0,0,0,0,0,0,0,0,0,0,0,4362921,0,0

============================END 2022_09_Setembre_BicingNou_ESTACIONS.csv============================
===========================START 2022_10_Octubre_BicingNou_ESTACIONS.csv============================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,0,0,0,0,0,0,0,0,0,0,0,4508304,0,0

============================END 2022_10_Octubre_BicingNou_ESTACIONS.csv=============================
===========================START 2022_11_Novembre_BicingNou_ESTACIONS.csv===========================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,0,0,0,0,0,0,0,0,0,0,0,4345375,0,0

============================END 2022_11_Novembre_BicingNou_ESTACIONS.csv============================
===========================START 2022_12_Desembre_BicingNou_ESTACIONS.csv===========================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,0,0,0,0,0,0,0,0,0,0,0,4512523,0,0

============================END 2022_12_Desembre_BicingNou_ESTACIONS.csv============================
============================START 2023_01_Gener_BicingNou_ESTACIONS.csv=============================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,0,0,0,0,0,0,0,0,0,0,0,4064084,0,0

=============================END 2023_01_Gener_BicingNou_ESTACIONS.csv==============================
============================START 2023_02_Febrer_BicingNou_ESTACIONS.csv============================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,0,0,0,0,0,0,0,0,0,0,0,4065829,0,0

=============================END 2023_02_Febrer_BicingNou_ESTACIONS.csv=============================
============================START 2023_04_Abril_BicingNou_ESTACIONS.csv=============================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,0,0,0,0,0,0,0,0,0,0,0,3616386,0,0

=============================END 2023_04_Abril_BicingNou_ESTACIONS.csv==============================
=============================START 2023_05_Maig_BicingNou_ESTACIONS.csv=============================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,0,0,0,0,0,0,0,0,0,0,0,4225973,0,0

==============================END 2023_05_Maig_BicingNou_ESTACIONS.csv==============================
=============================START 2023_06_Juny_BicingNou_ESTACIONS.csv=============================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,0,0,0,0,0,0,0,0,0,0,0,4179675,0,0

==============================END 2023_06_Juny_BicingNou_ESTACIONS.csv==============================
============================START 2023_07_Juliol_BicingNou_ESTACIONS.csv============================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,0,0,0,0,0,0,0,0,0,0,0,4547623,0,0

=============================END 2023_07_Juliol_BicingNou_ESTACIONS.csv=============================
============================START 2023_08_Agost_BicingNou_ESTACIONS.csv=============================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,V1
0,2462,2462,2462,2462,2462,2462,2462,2462,2462,2462,2462,3113047,2462,2462,3113047

=============================END 2023_08_Agost_BicingNou_ESTACIONS.csv==============================
===========================START 2023_09_Setembre_BicingNou_ESTACIONS.csv===========================

,V1,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,3729163,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303,3729163,1303,1303

============================END 2023_09_Setembre_BicingNou_ESTACIONS.csv============================
===========================START 2023_10_Octubre_BicingNou_ESTACIONS.csv============================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,0,0,0,0,0,0,0,0,0,0,0,4487606,0,0

============================END 2023_10_Octubre_BicingNou_ESTACIONS.csv=============================
===========================START 2023_11_Novembre_BicingNou_ESTACIONS.csv===========================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,0,0,0,0,0,0,0,0,0,0,0,4343342,0,0

============================END 2023_11_Novembre_BicingNou_ESTACIONS.csv============================
===========================START 2023_12_Desembre_BicingNou_ESTACIONS.csv===========================

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl
0,0,0,0,0,0,0,0,0,0,0,0,4525546,0,0

============================END 2023_12_Desembre_BicingNou_ESTACIONS.csv============================

## 2 - Outliers
Detección: Los valores atípicos pueden distorsionar los resultados de tus análisis y modelos predictivos. Pueden detectarse mediante varios métodos estadísticos, como la regla de las 1.5 veces el rango intercuartílico (IQR) o usando métodos visuales como los boxplots.
Tratamiento: Una vez identificados, puedes decidir si eliminarlos, transformarlos (por ejemplo, aplicando una transformación logarítmica), o censurarlos (limitarlos a un valor máximo y mínimo).

In [1]:
from IPython.display import display
import sys
import pandas as pd
from tqdm.notebook import tqdm
# Añade el directorio 'src' al path de Python
sys.path.append('../src')
from data.load_raw import load_raw
from data.exploration import detect_outliers

# Load the raw data files
files_df = load_raw()

for file_name, df in tqdm(files_df.items(), desc="Processing Files"):
    try:
        print(f'START {file_name}'.center(100, "="))
        
        # Detect outliers for specific columns
        outlier_columns = ['num_bikes_available', 'num_docks_available']
        outliers = detect_outliers(df, outlier_columns)
        
        if outliers:
            outliers_df = pd.DataFrame(outliers)
            display(outliers_df)
        else:
            print("No outliers detected.")
            
        print(f'END {file_name}'.center(100, "="))
    except Exception as e:
        print(f"Error processing {file_name}: {e}")

/Users/admin/Library/Python/3.9/lib/python/site-packages/dask/dataframe/_pyarrow_compat.py:17: FutureWarning: Minimal version of pyarrow will soon be increased to 14.0.1. You are using 13.0.0. Please consider upgrading.
  warnings.warn(
100%|██████████| 44/44 [00:00<00:00, 202.13it/s]

Processing Files:   0%|          | 0/44 [00:00<?, ?it/s]

============================START 2020_01_Gener_BicingNou_ESTACIONS.csv=============================

         index               column  value
0           35  num_bikes_available   37.0
1          170  num_bikes_available   45.0
2          445  num_bikes_available   36.0
3          580  num_bikes_available   45.0
4          855  num_bikes_available   36.0
...        ...                  ...    ...
29461  1131436  num_docks_available   48.0
29462  1131730  num_docks_available   43.0
29463  1131849  num_docks_available   49.0
29464  1132143  num_docks_available   43.0
29465  1132262  num_docks_available   49.0

[29466 rows x 3 columns]

=============================END 2020_01_Gener_BicingNou_ESTACIONS.csv==============================
============================START 2020_02_Febrer_BicingNou_ESTACIONS.csv============================

         index               column  value
0         5817  num_bikes_available   41.0
1         6230  num_bikes_available   41.0
2         6643  num_bikes_available   43.0
3         7056  num_bikes_available   43.0
4         7469  num_bikes_available   43.0
...        ...                  ...    ...
25729  1165530  num_docks_available   48.0
25730  1165964  num_docks_available   45.0
25731  1165965  num_docks_available   48.0
25732  1166399  num_docks_available   45.0
25733  1166400  num_docks_available   48.0

[25734 rows x 3 columns]

=============================END 2020_02_Febrer_BicingNou_ESTACIONS.csv=============================
============================START 2020_04_Abril_BicingNou_ESTACIONS.csv=============================

           index               column  value
0         213260  num_bikes_available   13.0
1         213261  num_bikes_available   14.0
2         213262  num_bikes_available   11.0
3         213263  num_bikes_available   18.0
4         213264  num_bikes_available   20.0
...          ...                  ...    ...
1087738  1279526  num_docks_available   34.0
1087739  1279994  num_docks_available   34.0
1087740  1280462  num_docks_available   34.0
1087741  1280930  num_docks_available   34.0
1087742  1281398  num_docks_available   34.0

[1087743 rows x 3 columns]

=============================END 2020_04_Abril_BicingNou_ESTACIONS.csv==============================
=============================START 2020_05_Maig_BicingNou_ESTACIONS.csv=============================

         index               column  value
0        24549  num_bikes_available   36.0
1        25017  num_bikes_available   36.0
2        25485  num_bikes_available   36.0
3        25953  num_bikes_available   36.0
4        26213  num_bikes_available   30.0
...        ...                  ...    ...
62931  1250148  num_docks_available   37.0
62932  1250149  num_docks_available   44.0
62933  1250248  num_docks_available   34.0
62934  1250311  num_docks_available   36.0
62935  1250370  num_docks_available   34.0

[62936 rows x 3 columns]

==============================END 2020_05_Maig_BicingNou_ESTACIONS.csv==============================
=============================START 2020_06_Juny_BicingNou_ESTACIONS.csv=============================

         index               column  value
0           31  num_bikes_available   38.0
1          120  num_bikes_available   37.0
2          170  num_bikes_available   51.0
3          384  num_bikes_available   41.0
4          391  num_bikes_available   37.0
...        ...                  ...    ...
41201  1025177  num_docks_available   48.0
41202  1025661  num_docks_available   50.0
41203  1025662  num_docks_available   48.0
41204  1026146  num_docks_available   50.0
41205  1026147  num_docks_available   49.0

[41206 rows x 3 columns]

==============================END 2020_06_Juny_BicingNou_ESTACIONS.csv==============================
============================START 2020_07_Juliol_BicingNou_ESTACIONS.csv============================

         index               column  value
0            0  num_bikes_available   38.0
1           41  num_bikes_available   39.0
2           42  num_bikes_available   43.0
3          171  num_bikes_available   47.0
4          526  num_bikes_available   39.0
...        ...                  ...    ...
39625  1082636  num_docks_available   49.0
39626  1082637  num_docks_available   47.0
39627  1082962  num_docks_available   42.0
39628  1083121  num_docks_available   48.0
39629  1083122  num_docks_available   46.0

[39630 rows x 3 columns]

=============================END 2020_07_Juliol_BicingNou_ESTACIONS.csv=============================
============================START 2020_08_Agost_BicingNou_ESTACIONS.csv=============================

         index               column  value
0            4  num_bikes_available   35.0
1           11  num_bikes_available   35.0
2           41  num_bikes_available   46.0
3           42  num_bikes_available   46.0
4           78  num_bikes_available   34.0
...        ...                  ...    ...
39581  1290502  num_docks_available   49.0
39582  1290503  num_docks_available   49.0
39583  1290917  num_docks_available   45.0
39584  1290992  num_docks_available   49.0
39585  1290993  num_docks_available   49.0

[39586 rows x 3 columns]

=============================END 2020_08_Agost_BicingNou_ESTACIONS.csv==============================
===========================START 2020_09_Setembre_BicingNou_ESTACIONS.csv===========================

         index               column  value
0           53  num_bikes_available   32.0
1          105  num_bikes_available   29.0
2          207  num_bikes_available   30.0
3          368  num_bikes_available   30.0
4          543  num_bikes_available   32.0
...        ...                  ...    ...
76934  1059673  num_docks_available   46.0
76935  1060137  num_docks_available   49.0
76936  1060169  num_docks_available   46.0
76937  1060633  num_docks_available   49.0
76938  1060665  num_docks_available   46.0

[76939 rows x 3 columns]

============================END 2020_09_Setembre_BicingNou_ESTACIONS.csv============================
===========================START 2020_10_Octubre_BicingNou_ESTACIONS.csv============================

         index               column  value
0          119  num_bikes_available   41.0
1          615  num_bikes_available   41.0
2         1027  num_bikes_available   36.0
3         1111  num_bikes_available   41.0
4         1523  num_bikes_available   36.0
...        ...                  ...    ...
38854  1112561  num_docks_available   49.0
38855  1112601  num_docks_available   48.0
38856  1112751  num_docks_available   48.0
38857  1112752  num_docks_available   43.0
38858  1113064  num_docks_available   49.0

[38859 rows x 3 columns]

============================END 2020_10_Octubre_BicingNou_ESTACIONS.csv=============================
===========================START 2020_11_Novembre_BicingNou_ESTACIONS.csv===========================

         index               column  value
0          397  num_bikes_available   37.0
1          900  num_bikes_available   37.0
2         1403  num_bikes_available   37.0
3         1906  num_bikes_available   37.0
4         2409  num_bikes_available   37.0
...        ...                  ...    ...
38185  1222955  num_docks_available   44.0
38186  1223030  num_docks_available   48.0
38187  1223413  num_docks_available   47.0
38188  1223457  num_docks_available   44.0
38189  1223532  num_docks_available   48.0

[38190 rows x 3 columns]

============================END 2020_11_Novembre_BicingNou_ESTACIONS.csv============================
===========================START 2020_12_Desembre_BicingNou_ESTACIONS.csv===========================

         index               column  value
0           36  num_bikes_available   38.0
1           44  num_bikes_available   33.0
2           77  num_bikes_available   37.0
3           80  num_bikes_available   39.0
4          171  num_bikes_available   43.0
...        ...                  ...    ...
64055  1103013  num_docks_available   48.0
64056  1103482  num_docks_available   44.0
64057  1103518  num_docks_available   48.0
64058  1103987  num_docks_available   44.0
64059  1104023  num_docks_available   48.0

[64060 rows x 3 columns]

============================END 2020_12_Desembre_BicingNou_ESTACIONS.csv============================
============================START 2021_01_Gener_BicingNou_ESTACIONS.csv=============================

         index               column  value
0            0  num_bikes_available   43.0
1           12  num_bikes_available   40.0
2           33  num_bikes_available   38.0
3           36  num_bikes_available   37.0
4           77  num_bikes_available   37.0
...        ...                  ...    ...
73342  1127791  num_docks_available   46.0
73343  1127792  num_docks_available   44.0
73344  1128147  num_docks_available   48.0
73345  1128297  num_docks_available   46.0
73346  1128298  num_docks_available   44.0

[73347 rows x 3 columns]

=============================END 2021_01_Gener_BicingNou_ESTACIONS.csv==============================
============================START 2021_02_Febrer_BicingNou_ESTACIONS.csv============================

         index               column  value
0           33  num_bikes_available   37.0
1          208  num_bikes_available   38.0
2          440  num_bikes_available   40.0
3          539  num_bikes_available   37.0
4          714  num_bikes_available   38.0
...        ...                  ...    ...
41077  1004201  num_docks_available   43.0
41078  1004515  num_docks_available   47.0
41079  1004589  num_docks_available   42.0
41080  1004710  num_docks_available   43.0
41081  1005024  num_docks_available   47.0

[41082 rows x 3 columns]

=============================END 2021_02_Febrer_BicingNou_ESTACIONS.csv=============================
============================START 2021_04_Abril_BicingNou_ESTACIONS.csv=============================

         index               column  value
0            0  num_bikes_available   36.0
1           81  num_bikes_available   37.0
2          123  num_bikes_available   43.0
3          210  num_bikes_available   35.0
4          442  num_bikes_available   47.0
...        ...                  ...    ...
58487  1098436  num_docks_available   50.0
58488  1098630  num_docks_available   49.0
58489  1098908  num_docks_available   45.0
58490  1099139  num_docks_available   49.0
58491  1099417  num_docks_available   45.0

[58492 rows x 3 columns]

=============================END 2021_04_Abril_BicingNou_ESTACIONS.csv==============================
=============================START 2021_05_Maig_BicingNou_ESTACIONS.csv=============================

         index               column  value
0           36  num_bikes_available   44.0
1          114  num_bikes_available   38.0
2          165  num_bikes_available   41.0
3          392  num_bikes_available   39.0
4          545  num_bikes_available   40.0
...        ...                  ...    ...
49012  1134014  num_docks_available   46.0
49013  1134089  num_docks_available   50.0
49014  1134478  num_docks_available   44.0
49015  1134523  num_docks_available   46.0
49016  1134598  num_docks_available   50.0

[49017 rows x 3 columns]

==============================END 2021_05_Maig_BicingNou_ESTACIONS.csv==============================
=============================START 2021_06_Juny_BicingNou_ESTACIONS.csv=============================

         index               column  value
0           81  num_bikes_available   35.0
1          173  num_bikes_available   39.0
2          590  num_bikes_available   35.0
3          682  num_bikes_available   41.0
4         1099  num_bikes_available   35.0
...        ...                  ...    ...
64460  1074981  num_docks_available   53.0
64461  1075413  num_docks_available   45.0
64462  1075487  num_docks_available   43.0
64463  1075919  num_docks_available   46.0
64464  1075993  num_docks_available   43.0

[64465 rows x 3 columns]

==============================END 2021_06_Juny_BicingNou_ESTACIONS.csv==============================
============================START 2021_07_Juliol_BicingNou_ESTACIONS.csv============================

         index               column  value
0           81  num_bikes_available   37.0
1          172  num_bikes_available   42.0
2          371  num_bikes_available   39.0
3          587  num_bikes_available   38.0
4          678  num_bikes_available   42.0
...        ...                  ...    ...
63247  1107060  num_docks_available   43.0
63248  1107566  num_docks_available   43.0
63249  1108072  num_docks_available   43.0
63250  1108578  num_docks_available   43.0
63251  1109084  num_docks_available   43.0

[63252 rows x 3 columns]

=============================END 2021_07_Juliol_BicingNou_ESTACIONS.csv=============================
============================START 2021_08_Agost_BicingNou_ESTACIONS.csv=============================

         index               column  value
0           12  num_bikes_available   41.0
1           33  num_bikes_available   34.0
2           43  num_bikes_available   41.0
3           65  num_bikes_available   33.0
4          164  num_bikes_available   36.0
...        ...                  ...    ...
69247  1129701  num_docks_available   45.0
69248  1129822  num_docks_available   38.0
69249  1129823  num_docks_available   39.0
69250  1130099  num_docks_available   40.0
69251  1130136  num_docks_available   43.0

[69252 rows x 3 columns]

=============================END 2021_08_Agost_BicingNou_ESTACIONS.csv==============================
===========================START 2021_09_Setembre_BicingNou_ESTACIONS.csv===========================

         index               column  value
0            0  num_bikes_available   38.0
1           36  num_bikes_available   37.0
2           78  num_bikes_available   35.0
3           81  num_bikes_available   37.0
4           87  num_bikes_available   33.0
...        ...                  ...    ...
78747  1094538  num_docks_available   46.0
78748  1095045  num_docks_available   46.0
78749  1095552  num_docks_available   46.0
78750  1096059  num_docks_available   44.0
78751  1096566  num_docks_available   44.0

[78752 rows x 3 columns]

============================END 2021_09_Setembre_BicingNou_ESTACIONS.csv============================
===========================START 2021_10_Octubre_BicingNou_ESTACIONS.csv============================

         index               column  value
0            0  num_bikes_available   37.0
1           36  num_bikes_available   37.0
2          113  num_bikes_available   36.0
3          164  num_bikes_available   44.0
4          400  num_bikes_available   36.0
...        ...                  ...    ...
62034  1124171  num_docks_available   48.0
62035  1124281  num_docks_available   45.0
62036  1124676  num_docks_available   48.0
62037  1124786  num_docks_available   45.0
62038  1125181  num_docks_available   48.0

[62039 rows x 3 columns]

============================END 2021_10_Octubre_BicingNou_ESTACIONS.csv=============================
===========================START 2021_11_Novembre_BicingNou_ESTACIONS.csv===========================

         index               column  value
0           15  num_bikes_available   32.0
1          398  num_bikes_available   36.0
2          520  num_bikes_available   32.0
3          903  num_bikes_available   36.0
4         1025  num_bikes_available   33.0
...        ...                  ...    ...
62538  1075174  num_docks_available   42.0
62539  1075177  num_docks_available   48.0
62540  1075682  num_docks_available   42.0
62541  1075685  num_docks_available   48.0
62542  1075717  num_docks_available   41.0

[62543 rows x 3 columns]

============================END 2021_11_Novembre_BicingNou_ESTACIONS.csv============================
===========================START 2021_12_Desembre_BicingNou_ESTACIONS.csv===========================

         index               column  value
0          113  num_bikes_available   36.0
1          172  num_bikes_available   32.0
2          621  num_bikes_available   36.0
3          680  num_bikes_available   32.0
4         1129  num_bikes_available   37.0
...        ...                  ...    ...
58787  1094381  num_docks_available   41.0
58788  1094889  num_docks_available   41.0
58789  1095397  num_docks_available   41.0
58790  1095905  num_docks_available   41.0
58791  1100477  num_docks_available   41.0

[58792 rows x 3 columns]

============================END 2021_12_Desembre_BicingNou_ESTACIONS.csv============================
============================START 2022_01_Gener_BicingNou_ESTACIONS.csv=============================

         index               column  value
0           12  num_bikes_available   37.0
1           88  num_bikes_available   34.0
2          123  num_bikes_available   32.0
3          391  num_bikes_available   39.0
4          520  num_bikes_available   37.0
...        ...                  ...    ...
72910  1097087  num_docks_available   52.0
72911  1097118  num_docks_available   44.0
72912  1097119  num_docks_available   42.0
72913  1097239  num_docks_available   41.0
72914  1097514  num_docks_available   40.0

[72915 rows x 3 columns]

=============================END 2022_01_Gener_BicingNou_ESTACIONS.csv==============================
============================START 2022_02_Febrer_BicingNou_ESTACIONS.csv============================

        index               column  value
0         170  num_bikes_available   34.0
1         173  num_bikes_available   47.0
2         360  num_bikes_available   34.0
3         370  num_bikes_available   34.0
4         676  num_bikes_available   34.0
...       ...                  ...    ...
60129  982230  num_docks_available   45.0
60130  982532  num_docks_available   42.0
60131  982661  num_docks_available   41.0
60132  982738  num_docks_available   46.0
60133  983040  num_docks_available   42.0

[60134 rows x 3 columns]

=============================END 2022_02_Febrer_BicingNou_ESTACIONS.csv=============================
============================START 2022_04_Abril_BicingNou_ESTACIONS.csv=============================

         index               column  value
0           36  num_bikes_available   32.0
1           55  num_bikes_available   32.0
2           81  num_bikes_available   37.0
3          114  num_bikes_available   32.0
4          479  num_bikes_available   40.0
...        ...                  ...    ...
62314  1092638  num_docks_available   44.0
62315  1092740  num_docks_available   41.0
62316  1092747  num_docks_available   51.0
62317  1092869  num_docks_available   44.0
62318  1093146  num_docks_available   44.0

[62319 rows x 3 columns]

=============================END 2022_04_Abril_BicingNou_ESTACIONS.csv==============================
=============================START 2022_05_Maig_BicingNou_ESTACIONS.csv=============================

         index               column  value
0           15  num_bikes_available   35.0
1           55  num_bikes_available   35.0
2          373  num_bikes_available   38.0
3          401  num_bikes_available   34.0
4          523  num_bikes_available   34.0
...        ...                  ...    ...
59357  1131468  num_docks_available   42.0
59358  1131514  num_docks_available   42.0
59359  1131588  num_docks_available   47.0
59360  1131589  num_docks_available   41.0
59361  1131816  num_docks_available   43.0

[59362 rows x 3 columns]

==============================END 2022_05_Maig_BicingNou_ESTACIONS.csv==============================
=============================START 2022_06_Juny_BicingNou_ESTACIONS.csv=============================

         index               column  value
0           81  num_bikes_available   38.0
1          172  num_bikes_available   47.0
2          589  num_bikes_available   38.0
3          680  num_bikes_available   48.0
4         1097  num_bikes_available   38.0
...        ...                  ...    ...
68065  1095442  num_docks_available   51.0
68066  1095443  num_docks_available   43.0
68067  1095874  num_docks_available   40.0
68068  1095948  num_docks_available   51.0
68069  1095949  num_docks_available   43.0

[68070 rows x 3 columns]

==============================END 2022_06_Juny_BicingNou_ESTACIONS.csv==============================
============================START 2022_07_Juliol_BicingNou_ESTACIONS.csv============================

         index               column  value
0           44  num_bikes_available   33.0
1           65  num_bikes_available   32.0
2          124  num_bikes_available   30.0
3          550  num_bikes_available   33.0
4          571  num_bikes_available   32.0
...        ...                  ...    ...
89342  1130798  num_docks_available   40.0
89343  1130843  num_docks_available   44.0
89344  1130916  num_docks_available   43.0
89345  1130917  num_docks_available   41.0
89346  1131193  num_docks_available   39.0

[89347 rows x 3 columns]

=============================END 2022_07_Juliol_BicingNou_ESTACIONS.csv=============================
============================START 2022_08_Agost_BicingNou_ESTACIONS.csv=============================

         index               column  value
0           33  num_bikes_available   32.0
1           81  num_bikes_available   30.0
2          539  num_bikes_available   32.0
3          587  num_bikes_available   30.0
4         1045  num_bikes_available   32.0
...        ...                  ...    ...
74538  1123551  num_docks_available   41.0
74539  1123680  num_docks_available   45.0
74540  1123711  num_docks_available   52.0
74541  1123830  num_docks_available   44.0
74542  1124058  num_docks_available   41.0

[74543 rows x 3 columns]

=============================END 2022_08_Agost_BicingNou_ESTACIONS.csv==============================
===========================START 2022_09_Setembre_BicingNou_ESTACIONS.csv===========================

         index               column  value
0           81  num_bikes_available   39.0
1          171  num_bikes_available   45.0
2          200  num_bikes_available   31.0
3          477  num_bikes_available   32.0
4          588  num_bikes_available   40.0
...        ...                  ...    ...
73562  1092374  num_docks_available   50.0
73563  1092689  num_docks_available   43.0
73564  1092762  num_docks_available   41.0
73565  1092880  num_docks_available   50.0
73566  1093195  num_docks_available   42.0

[73567 rows x 3 columns]

============================END 2022_09_Setembre_BicingNou_ESTACIONS.csv============================
===========================START 2022_10_Octubre_BicingNou_ESTACIONS.csv============================

         index               column  value
0           12  num_bikes_available   31.0
1          162  num_bikes_available   36.0
2          518  num_bikes_available   31.0
3          668  num_bikes_available   36.0
4         1174  num_bikes_available   36.0
...        ...                  ...    ...
72883  1120868  num_docks_available   40.0
72884  1120875  num_docks_available   46.0
72885  1120921  num_docks_available   40.0
72886  1121221  num_docks_available   44.0
72887  1121271  num_docks_available   42.0

[72888 rows x 3 columns]

============================END 2022_10_Octubre_BicingNou_ESTACIONS.csv=============================
===========================START 2022_11_Novembre_BicingNou_ESTACIONS.csv===========================

         index               column  value
0            0  num_bikes_available   35.0
1          163  num_bikes_available   39.0
2          668  num_bikes_available   37.0
3         1173  num_bikes_available   37.0
4         1678  num_bikes_available   38.0
...        ...                  ...    ...
51281  1083787  num_docks_available   41.0
51282  1083915  num_docks_available   52.0
51283  1083946  num_docks_available   49.0
51284  1084065  num_docks_available   50.0
51285  1084292  num_docks_available   42.0

[51286 rows x 3 columns]

============================END 2022_11_Novembre_BicingNou_ESTACIONS.csv============================
===========================START 2022_12_Desembre_BicingNou_ESTACIONS.csv===========================

         index               column  value
0           36  num_bikes_available   44.0
1           81  num_bikes_available   33.0
2          541  num_bikes_available   44.0
3          586  num_bikes_available   35.0
4         1046  num_bikes_available   44.0
...        ...                  ...    ...
52876  1126437  num_docks_available   44.0
52877  1126943  num_docks_available   44.0
52878  1127449  num_docks_available   44.0
52879  1127955  num_docks_available   44.0
52880  1128461  num_docks_available   44.0

[52881 rows x 3 columns]

============================END 2022_12_Desembre_BicingNou_ESTACIONS.csv============================
============================START 2023_01_Gener_BicingNou_ESTACIONS.csv=============================

         index               column  value
0            0  num_bikes_available   38.0
1           78  num_bikes_available   37.0
2           81  num_bikes_available   40.0
3           89  num_bikes_available   48.0
4           90  num_bikes_available   32.0
...        ...                  ...    ...
78296  1014731  num_docks_available   50.0
78297  1014808  num_docks_available   39.0
78298  1014882  num_docks_available   47.0
78299  1015081  num_docks_available   38.0
78300  1015106  num_docks_available   43.0

[78301 rows x 3 columns]

=============================END 2023_01_Gener_BicingNou_ESTACIONS.csv==============================
============================START 2023_02_Febrer_BicingNou_ESTACIONS.csv============================

         index               column  value
0         1482  num_bikes_available   33.0
1         1986  num_bikes_available   33.0
2         2490  num_bikes_available   33.0
3         2994  num_bikes_available   33.0
4         3498  num_bikes_available   33.0
...        ...                  ...    ...
71747  1015916  num_docks_available   40.0
71748  1016117  num_docks_available   39.0
71749  1016118  num_docks_available   38.0
71750  1016142  num_docks_available   44.0
71751  1016192  num_docks_available   39.0

[71752 rows x 3 columns]

=============================END 2023_02_Febrer_BicingNou_ESTACIONS.csv=============================
============================START 2023_04_Abril_BicingNou_ESTACIONS.csv=============================

         index               column  value
0            0  num_bikes_available   38.0
1           36  num_bikes_available   40.0
2          171  num_bikes_available   42.0
3          335  num_bikes_available   35.0
4          370  num_bikes_available   36.0
...        ...                  ...    ...
50472  1204263  num_docks_available   48.0
50473  1204301  num_docks_available   42.0
50474  1204454  num_docks_available   53.0
50475  1204681  num_docks_available   42.0
50476  1204768  num_docks_available   48.0

[50477 rows x 3 columns]

=============================END 2023_04_Abril_BicingNou_ESTACIONS.csv==============================
=============================START 2023_05_Maig_BicingNou_ESTACIONS.csv=============================

         index               column  value
0            4  num_bikes_available   37.0
1           43  num_bikes_available   45.0
2          509  num_bikes_available   37.0
3          548  num_bikes_available   45.0
4         1014  num_bikes_available   37.0
...        ...                  ...    ...
56443  1057881  num_docks_available   44.0
56444  1057882  num_docks_available   44.0
56445  1058000  num_docks_available   48.0
56446  1058258  num_docks_available   42.0
56447  1058313  num_docks_available   48.0

[56448 rows x 3 columns]

==============================END 2023_05_Maig_BicingNou_ESTACIONS.csv==============================
=============================START 2023_06_Juny_BicingNou_ESTACIONS.csv=============================

         index               column  value
0           36  num_bikes_available   34.0
1          170  num_bikes_available   44.0
2          370  num_bikes_available   39.0
3          542  num_bikes_available   36.0
4          676  num_bikes_available   44.0
...        ...                  ...    ...
67557  1045954  num_docks_available   46.0
67558  1046027  num_docks_available   47.0
67559  1046464  num_docks_available   47.0
67560  1046537  num_docks_available   47.0
67561  1046974  num_docks_available   47.0

[67562 rows x 3 columns]

==============================END 2023_06_Juny_BicingNou_ESTACIONS.csv==============================
============================START 2023_07_Juliol_BicingNou_ESTACIONS.csv============================

          index               column  value
0             4  num_bikes_available   37.0
1             5  num_bikes_available   33.0
2            12  num_bikes_available   36.0
3            33  num_bikes_available   45.0
4            36  num_bikes_available   35.0
...         ...                  ...    ...
108673  1135710  num_docks_available   49.0
108674  1135752  num_docks_available   43.0
108675  1135829  num_docks_available   40.0
108676  1136164  num_docks_available   39.0
108677  1136220  num_docks_available   49.0

[108678 rows x 3 columns]

=============================END 2023_07_Juliol_BicingNou_ESTACIONS.csv=============================
============================START 2023_08_Agost_BicingNou_ESTACIONS.csv=============================

         index               column  value
0           44  num_bikes_available   34.0
1          123  num_bikes_available   31.0
2          164  num_bikes_available   35.0
3          449  num_bikes_available   32.0
4          510  num_bikes_available   32.0
...        ...                  ...    ...
63319  1037062  num_docks_available   46.0
63320  1037213  num_docks_available   42.0
63321  1037214  num_docks_available   39.0
63322  1037471  num_docks_available   41.0
63323  1037527  num_docks_available   49.0

[63324 rows x 3 columns]

=============================END 2023_08_Agost_BicingNou_ESTACIONS.csv==============================
===========================START 2023_09_Setembre_BicingNou_ESTACIONS.csv===========================

         index               column  value
0         1311  num_bikes_available   35.0
1         1314  num_bikes_available   40.0
2         1317  num_bikes_available   35.0
3         1335  num_bikes_available   30.0
4         1346  num_bikes_available   37.0
...        ...                  ...    ...
79835  1244463  num_docks_available   39.0
79836  1244627  num_docks_available   45.0
79837  1244636  num_docks_available   42.0
79838  1244886  num_docks_available   40.0
79839  1244942  num_docks_available   46.0

[79840 rows x 3 columns]

============================END 2023_09_Setembre_BicingNou_ESTACIONS.csv============================
===========================START 2023_10_Octubre_BicingNou_ESTACIONS.csv============================

         index               column  value
0           33  num_bikes_available   46.0
1           36  num_bikes_available   36.0
2          542  num_bikes_available   46.0
3          545  num_bikes_available   36.0
4         1051  num_bikes_available   44.0
...        ...                  ...    ...
78319  1124914  num_docks_available   47.0
78320  1124988  num_docks_available   41.0
78321  1125336  num_docks_available   40.0
78322  1125368  num_docks_available   41.0
78323  1125424  num_docks_available   47.0

[78324 rows x 3 columns]

============================END 2023_10_Octubre_BicingNou_ESTACIONS.csv=============================
===========================START 2023_11_Novembre_BicingNou_ESTACIONS.csv===========================

         index               column  value
0           36  num_bikes_available   34.0
1           43  num_bikes_available   47.0
2          165  num_bikes_available   39.0
3          401  num_bikes_available   36.0
4          546  num_bikes_available   35.0
...        ...                  ...    ...
60337  1086253  num_docks_available   51.0
60338  1086283  num_docks_available   49.0
60339  1086284  num_docks_available   46.0
60340  1086329  num_docks_available   47.0
60341  1086718  num_docks_available   49.0

[60342 rows x 3 columns]

============================END 2023_11_Novembre_BicingNou_ESTACIONS.csv============================
===========================START 2023_12_Desembre_BicingNou_ESTACIONS.csv===========================

          index               column  value
0             0  num_bikes_available   36.0
1            64  num_bikes_available   32.0
2           107  num_bikes_available   28.0
3           174  num_bikes_available   29.0
4           242  num_bikes_available   28.0
...         ...                  ...    ...
110417  1129218  num_docks_available   40.0
110418  1129596  num_docks_available   43.0
110419  1129726  num_docks_available   40.0
110420  1130104  num_docks_available   43.0
110421  1130234  num_docks_available   41.0

[110422 rows x 3 columns]

============================END 2023_12_Desembre_BicingNou_ESTACIONS.csv============================

## 3 - Anomalias en los datos
Identificación: Busca errores en la entrada de datos o inconsistencias, como categorías mal etiquetadas, errores tipográficos, o formatos incorrectos en las fechas.
Corrección: Estas inconsistencias deben corregirse mediante la estandarización de los formatos, corrección de errores y validación cruzada con fuentes de datos externas cuando sea posible.
Duplicados:
Identificación y eliminación: Los registros duplicados pueden surgir durante la recopilación de datos y deben ser identificados y eliminados para evitar sesgos en el análisis.

In [2]:
from IPython.display import display
import dask.dataframe as dd
from tqdm.notebook import tqdm
import pandas as pd
import sys

sys.path.append('../src')
from data.load_raw import load_raw
from data.exploration import detect_anomalies

# Cargar la información sobre las estaciones
stations_df = pd.read_csv("../data/raw/Informacio_Estacions_Bicing.csv")
# Convertir station_id a set para búsquedas más rápidas
valid_station_ids = set(stations_df['station_id'])
stations_df.set_index('station_id', inplace=True)

# Cargar los archivos de datos brutos
files_df = load_raw()

# DataFrame para registrar anomalías
anomalies = []

for file_name, df in tqdm(files_df.items(), desc="Processing Files"):
    try:
        print(f'START {file_name}'.center(100, "="))

        if isinstance(df, dd.DataFrame):
            df = df.compute()
        
        anomalies = detect_anomalies(df)
            
        # Si se desean consolidar todas las anomalías en un solo DataFrame
        if anomalies:
            all_anomalies = pd.concat(anomalies, ignore_index=True)
            print("All detected anomalies across files:")
            display(all_anomalies)
        else:
            print("No anomalies detected across all files.")

        print(f'END {file_name}'.center(100, "="))
        
    except Exception as e:
        print(f"Error processing {file_name}: {e}")

100%|██████████| 44/44 [00:00<00:00, 13854.02it/s]

Processing Files:   0%|          | 0/44 [00:00<?, ?it/s]

============================START 2020_01_Gener_BicingNou_ESTACIONS.csv=============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,is_installed,is_renting,is_returning,last_reported,is_charging_station,status,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,15.0,13.0,2.0,5.0,1,1,1,1.577833e+09,TRUE,IN_SERVICE,1.577833e+09,28.0,Invalid station_id,NaN,NaN,NaN,NaN
1,59.0,5.0,5.0,0.0,14.0,1,1,1,1.577833e+09,TRUE,IN_SERVICE,1.577833e+09,28.0,Invalid station_id,NaN,NaN,NaN,NaN
2,93.0,23.0,18.0,5.0,0.0,1,1,1,1.577833e+09,TRUE,IN_SERVICE,1.577833e+09,28.0,Invalid station_id,NaN,NaN,NaN,NaN
3,188.0,20.0,18.0,2.0,6.0,1,1,1,1.577833e+09,TRUE,IN_SERVICE,1.577833e+09,28.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,15.0,13.0,2.0,5.0,1,1,1,1.577833e+09,TRUE,IN_SERVICE,1.577834e+09,11.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208322,317.0,12.0,10.0,2.0,15.0,1,1,1,1.580511e+09,TRUE,IN_SERVICE,1.580511e+09,10.0,Over capacity,15.0,27.0,True,False
208323,368.0,21.0,20.0,1.0,7.0,1,1,1,1.580511e+09,TRUE,IN_SERVICE,1.580511e+09,10.0,Over capacity,27.0,28.0,True,False
208324,386.0,23.0,22.0,1.0,1.0,1,1,1,1.580511e+09,TRUE,IN_SERVICE,1.580511e+09,10.0,Over capacity,18.0,24.0,True,False
208325,421.0,9.0,6.0,3.0,23.0,1,1,1,1.580511e+09,TRUE,IN_SERVICE,1.580511e+09,10.0,Over capacity,25.0,32.0,True,False
208326,495.0,3.0,2.0,1.0,19.0,1,1,1,1.580511e+09,TRUE,IN_SERVICE,1.580511e+09,10.0,Over capacity,21.0,22.0,True,False

=============================END 2020_01_Gener_BicingNou_ESTACIONS.csv==============================
============================START 2020_02_Febrer_BicingNou_ESTACIONS.csv============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,is_installed,is_renting,is_returning,last_reported,is_charging_station,status,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,12.0,12.0,0.0,7.0,1,1,1,1.580511e+09,TRUE,IN_SERVICE,1.580512e+09,21.0,Invalid station_id,NaN,NaN,NaN,NaN
1,59.0,14.0,13.0,1.0,7.0,1,1,1,1.580512e+09,TRUE,IN_SERVICE,1.580512e+09,21.0,Invalid station_id,NaN,NaN,NaN,NaN
2,93.0,2.0,2.0,0.0,19.0,1,1,1,1.580511e+09,TRUE,IN_SERVICE,1.580512e+09,21.0,Invalid station_id,NaN,NaN,NaN,NaN
3,188.0,6.0,1.0,5.0,20.0,1,1,1,1.580512e+09,TRUE,IN_SERVICE,1.580512e+09,21.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,12.0,12.0,0.0,7.0,1,1,1,1.580512e+09,TRUE,IN_SERVICE,1.580512e+09,10.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210495,386.0,22.0,21.0,1.0,2.0,1,1,1,1.583017e+09,TRUE,IN_SERVICE,1.583017e+09,25.0,Over capacity,18.0,24.0,True,False
210496,421.0,13.0,12.0,1.0,18.0,1,1,1,1.583017e+09,TRUE,IN_SERVICE,1.583017e+09,25.0,Over capacity,25.0,31.0,True,False
210497,469.0,4.0,1.0,3.0,13.0,1,1,1,1.583017e+09,TRUE,IN_SERVICE,1.583017e+09,25.0,Over capacity,12.0,17.0,True,False
210498,481.0,1.0,0.0,1.0,26.0,1,1,1,1.583017e+09,TRUE,IN_SERVICE,1.583017e+09,25.0,Over capacity,26.0,27.0,True,False
210499,483.0,0.0,0.0,0.0,30.0,1,1,1,1.583017e+09,TRUE,IN_SERVICE,1.583017e+09,25.0,Over capacity,29.0,30.0,True,False

=============================END 2020_02_Febrer_BicingNou_ESTACIONS.csv=============================
============================START 2020_04_Abril_BicingNou_ESTACIONS.csv=============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,is_installed,is_renting,is_returning,last_reported,is_charging_station,status,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,0.0,7.0,3.0,10.0,1,0,0,1.584368e+09,TRUE,MAINTENANCE,1.585692e+09,20.0,Invalid station_id,NaN,NaN,NaN,NaN
1,59.0,0.0,2.0,0.0,18.0,1,0,0,1.584371e+09,TRUE,MAINTENANCE,1.585692e+09,20.0,Invalid station_id,NaN,NaN,NaN,NaN
2,93.0,0.0,16.0,0.0,8.0,1,0,0,1.584379e+09,TRUE,MAINTENANCE,1.585692e+09,20.0,Invalid station_id,NaN,NaN,NaN,NaN
3,188.0,0.0,6.0,2.0,19.0,1,0,0,1.584390e+09,TRUE,MAINTENANCE,1.585692e+09,20.0,Invalid station_id,NaN,NaN,NaN,NaN
4,429.0,0.0,5.0,0.0,23.0,1,0,0,1.584375e+09,TRUE,MAINTENANCE,1.585692e+09,20.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159784,473.0,16.0,14.0,2.0,15.0,1,1,1,1.588284e+09,TRUE,IN_SERVICE,1.588284e+09,27.0,Over capacity,20.0,31.0,True,False
159785,481.0,24.0,20.0,4.0,3.0,1,1,1,1.588284e+09,TRUE,IN_SERVICE,1.588284e+09,27.0,Over capacity,26.0,27.0,True,False
159786,482.0,10.0,10.0,0.0,14.0,1,1,1,1.588284e+09,TRUE,IN_SERVICE,1.588284e+09,27.0,Over capacity,23.0,24.0,True,False
159787,483.0,17.0,17.0,0.0,15.0,1,1,1,1.588284e+09,TRUE,IN_SERVICE,1.588284e+09,27.0,Over capacity,29.0,32.0,True,False
159788,495.0,11.0,11.0,0.0,13.0,1,1,1,1.588284e+09,TRUE,IN_SERVICE,1.588284e+09,27.0,Over capacity,21.0,24.0,True,False

=============================END 2020_04_Abril_BicingNou_ESTACIONS.csv==============================
=============================START 2020_05_Maig_BicingNou_ESTACIONS.csv=============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,is_installed,is_renting,is_returning,last_reported,is_charging_station,status,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,10.0,10.0,0.0,11.0,1,1,1,1.588284e+09,TRUE,IN_SERVICE,1.588284e+09,19.0,Invalid station_id,NaN,NaN,NaN,NaN
1,59.0,8.0,8.0,0.0,13.0,1,1,1,1.588284e+09,TRUE,IN_SERVICE,1.588284e+09,19.0,Invalid station_id,NaN,NaN,NaN,NaN
2,93.0,11.0,10.0,1.0,13.0,1,1,1,1.588284e+09,TRUE,IN_SERVICE,1.588284e+09,19.0,Invalid station_id,NaN,NaN,NaN,NaN
3,188.0,15.0,14.0,1.0,11.0,1,1,1,1.588284e+09,TRUE,IN_SERVICE,1.588284e+09,19.0,Invalid station_id,NaN,NaN,NaN,NaN
4,429.0,17.0,11.0,6.0,11.0,1,1,1,1.588284e+09,TRUE,IN_SERVICE,1.588284e+09,19.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287875,421.0,24.0,21.0,3.0,7.0,1,1,1,1.590962e+09,TRUE,IN_SERVICE,1.590962e+09,2.0,Over capacity,25.0,31.0,True,False
287876,469.0,4.0,1.0,3.0,14.0,1,1,1,1.590962e+09,TRUE,IN_SERVICE,1.590962e+09,2.0,Over capacity,12.0,18.0,True,False
287877,473.0,3.0,1.0,2.0,28.0,1,1,1,1.590962e+09,TRUE,IN_SERVICE,1.590962e+09,2.0,Over capacity,20.0,31.0,True,False
287878,483.0,1.0,0.0,1.0,31.0,1,1,1,1.590962e+09,TRUE,IN_SERVICE,1.590962e+09,2.0,Over capacity,29.0,32.0,True,False
287879,495.0,4.0,4.0,0.0,20.0,1,1,1,1.590962e+09,TRUE,IN_SERVICE,1.590962e+09,2.0,Over capacity,21.0,24.0,True,False

==============================END 2020_05_Maig_BicingNou_ESTACIONS.csv==============================
=============================START 2020_06_Juny_BicingNou_ESTACIONS.csv=============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,is_installed,is_renting,is_returning,last_reported,is_charging_station,status,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,5.0,4.0,1.0,14.0,1,1,1,1.590962e+09,TRUE,IN_SERVICE,1.590962e+09,2.0,Invalid station_id,NaN,NaN,NaN,NaN
1,59.0,21.0,20.0,1.0,0.0,1,1,1,1.590962e+09,TRUE,IN_SERVICE,1.590962e+09,2.0,Invalid station_id,NaN,NaN,NaN,NaN
2,93.0,0.0,0.0,0.0,22.0,1,1,1,1.590962e+09,TRUE,IN_SERVICE,1.590962e+09,2.0,Invalid station_id,NaN,NaN,NaN,NaN
3,188.0,23.0,15.0,8.0,1.0,1,1,1,1.590962e+09,TRUE,IN_SERVICE,1.590962e+09,2.0,Invalid station_id,NaN,NaN,NaN,NaN
4,429.0,1.0,1.0,0.0,26.0,1,1,1,1.590962e+09,TRUE,IN_SERVICE,1.590962e+09,2.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272210,469.0,2.0,1.0,1.0,11.0,1,1,1,1.593554e+09,TRUE,IN_SERVICE,1.593554e+09,18.0,Over capacity,12.0,13.0,True,False
272211,473.0,1.0,0.0,1.0,30.0,1,1,1,1.593554e+09,TRUE,IN_SERVICE,1.593554e+09,18.0,Over capacity,20.0,31.0,True,False
272212,483.0,2.0,0.0,2.0,30.0,1,1,1,1.593554e+09,TRUE,IN_SERVICE,1.593554e+09,18.0,Over capacity,29.0,32.0,True,False
272213,495.0,0.0,0.0,0.0,24.0,1,1,1,1.593554e+09,TRUE,IN_SERVICE,1.593554e+09,18.0,Over capacity,21.0,24.0,True,False
272214,517.0,8.0,6.0,2.0,16.0,1,1,1,1.593554e+09,TRUE,IN_SERVICE,1.593554e+09,18.0,Over capacity,20.0,24.0,True,False

==============================END 2020_06_Juny_BicingNou_ESTACIONS.csv==============================
============================START 2020_07_Juliol_BicingNou_ESTACIONS.csv============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,is_installed,is_renting,is_returning,last_reported,is_charging_station,status,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,2.0,2.0,0.0,15.0,1,1,1,1.593554e+09,TRUE,IN_SERVICE,1.593554e+09,23.0,Invalid station_id,NaN,NaN,NaN,NaN
1,59.0,13.0,13.0,0.0,7.0,1,1,1,1.593554e+09,TRUE,IN_SERVICE,1.593554e+09,23.0,Invalid station_id,NaN,NaN,NaN,NaN
2,93.0,1.0,1.0,0.0,19.0,1,1,1,1.593554e+09,TRUE,IN_SERVICE,1.593554e+09,23.0,Invalid station_id,NaN,NaN,NaN,NaN
3,188.0,21.0,21.0,0.0,0.0,1,1,1,1.593554e+09,TRUE,IN_SERVICE,1.593554e+09,23.0,Invalid station_id,NaN,NaN,NaN,NaN
4,429.0,2.0,0.0,2.0,26.0,1,1,1,1.593554e+09,TRUE,IN_SERVICE,1.593554e+09,23.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235657,473.0,3.0,1.0,2.0,25.0,1,1,1,1.596232e+09,TRUE,IN_SERVICE,1.596233e+09,3.0,Over capacity,20.0,28.0,True,False
235658,482.0,3.0,0.0,3.0,21.0,1,1,1,1.596233e+09,TRUE,IN_SERVICE,1.596233e+09,3.0,Over capacity,23.0,24.0,True,False
235659,483.0,1.0,0.0,1.0,29.0,1,1,1,1.596232e+09,TRUE,IN_SERVICE,1.596233e+09,3.0,Over capacity,29.0,30.0,True,False
235660,497.0,1.0,1.0,0.0,29.0,1,1,1,1.596232e+09,TRUE,IN_SERVICE,1.596233e+09,3.0,Over capacity,27.0,30.0,True,False
235661,517.0,21.0,8.0,13.0,2.0,1,1,1,1.596232e+09,TRUE,IN_SERVICE,1.596233e+09,3.0,Over capacity,20.0,23.0,True,False

=============================END 2020_07_Juliol_BicingNou_ESTACIONS.csv=============================
============================START 2020_08_Agost_BicingNou_ESTACIONS.csv=============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,is_installed,is_renting,is_returning,last_reported,is_charging_station,status,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,9.0,9.0,0.0,9.0,1,1,1,1.596233e+09,TRUE,IN_SERVICE,1.596233e+09,15.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,19.0,19.0,0.0,3.0,1,1,1,1.596233e+09,TRUE,IN_SERVICE,1.596233e+09,15.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,2.0,0.0,2.0,23.0,1,1,1,1.596233e+09,TRUE,IN_SERVICE,1.596233e+09,15.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,0.0,0.0,0.0,25.0,1,1,1,1.596233e+09,TRUE,IN_SERVICE,1.596233e+09,15.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,9.0,9.0,0.0,9.0,1,1,1,1.596233e+09,TRUE,IN_SERVICE,1.596233e+09,6.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194419,473.0,0.0,0.0,0.0,29.0,1,1,1,1.598911e+09,TRUE,IN_SERVICE,1.598911e+09,16.0,Over capacity,20.0,29.0,True,False
194420,481.0,10.0,10.0,0.0,17.0,1,1,1,1.598911e+09,TRUE,IN_SERVICE,1.598911e+09,16.0,Over capacity,26.0,27.0,True,False
194421,483.0,1.0,0.0,1.0,30.0,1,1,1,1.598911e+09,TRUE,IN_SERVICE,1.598911e+09,16.0,Over capacity,29.0,31.0,True,False
194422,497.0,1.0,1.0,0.0,29.0,1,1,1,1.598911e+09,TRUE,IN_SERVICE,1.598911e+09,16.0,Over capacity,27.0,30.0,True,False
194423,517.0,12.0,3.0,9.0,11.0,1,1,1,1.598911e+09,TRUE,IN_SERVICE,1.598911e+09,16.0,Over capacity,20.0,23.0,True,False

=============================END 2020_08_Agost_BicingNou_ESTACIONS.csv==============================
===========================START 2020_09_Setembre_BicingNou_ESTACIONS.csv===========================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,is_installed,is_renting,is_returning,last_reported,is_charging_station,status,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,2.0,2.0,0.0,14.0,1,1,1,1.598911e+09,TRUE,IN_SERVICE,1.598911e+09,28.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,21.0,21.0,0.0,6.0,1,1,1,1.598911e+09,TRUE,IN_SERVICE,1.598911e+09,28.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,6.0,5.0,1.0,21.0,1,1,1,1.598911e+09,TRUE,IN_SERVICE,1.598911e+09,28.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,7.0,7.0,0.0,18.0,1,1,1,1.598911e+09,TRUE,IN_SERVICE,1.598911e+09,28.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,3.0,3.0,0.0,13.0,1,1,1,1.598911e+09,TRUE,IN_SERVICE,1.598912e+09,6.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195611,481.0,0.0,0.0,0.0,27.0,1,1,1,1.601503e+09,TRUE,IN_SERVICE,1.601503e+09,7.0,Over capacity,26.0,27.0,True,False
195612,482.0,0.0,0.0,0.0,24.0,1,1,1,1.601503e+09,TRUE,IN_SERVICE,1.601503e+09,7.0,Over capacity,23.0,24.0,True,False
195613,483.0,1.0,1.0,0.0,30.0,1,1,1,1.601503e+09,TRUE,IN_SERVICE,1.601503e+09,7.0,Over capacity,29.0,31.0,True,False
195614,500.0,0.0,0.0,0.0,27.0,1,1,1,1.601503e+09,TRUE,IN_SERVICE,1.601503e+09,7.0,Over capacity,23.0,27.0,True,False
195615,517.0,3.0,3.0,0.0,20.0,1,1,1,1.601503e+09,TRUE,IN_SERVICE,1.601503e+09,7.0,Over capacity,20.0,23.0,True,False

============================END 2020_09_Setembre_BicingNou_ESTACIONS.csv============================
===========================START 2020_10_Octubre_BicingNou_ESTACIONS.csv============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,is_installed,is_renting,is_returning,last_reported,is_charging_station,status,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,2.0,2.0,0.0,18.0,1,1,1,1.601503e+09,TRUE,IN_SERVICE,1.601503e+09,19.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,8.0,8.0,0.0,15.0,1,1,1,1.601503e+09,TRUE,IN_SERVICE,1.601503e+09,19.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,3.0,2.0,1.0,22.0,1,1,1,1.601503e+09,TRUE,IN_SERVICE,1.601503e+09,19.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,0.0,0.0,0.0,27.0,1,1,1,1.601503e+09,TRUE,IN_SERVICE,1.601503e+09,19.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,3.0,2.0,1.0,17.0,1,1,1,1.601503e+09,TRUE,IN_SERVICE,1.601504e+09,24.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256937,473.0,6.0,3.0,3.0,25.0,1,1,1,1.604185e+09,TRUE,IN_SERVICE,1.604185e+09,11.0,Over capacity,20.0,31.0,True,False
256938,481.0,0.0,0.0,0.0,27.0,1,1,1,1.604185e+09,TRUE,IN_SERVICE,1.604185e+09,11.0,Over capacity,26.0,27.0,True,False
256939,483.0,11.0,10.0,1.0,21.0,1,1,1,1.604185e+09,TRUE,IN_SERVICE,1.604185e+09,11.0,Over capacity,29.0,32.0,True,False
256940,500.0,5.0,1.0,4.0,21.0,1,1,1,1.604185e+09,TRUE,IN_SERVICE,1.604185e+09,11.0,Over capacity,23.0,26.0,True,False
256941,517.0,10.0,7.0,3.0,14.0,1,1,1,1.604185e+09,TRUE,IN_SERVICE,1.604185e+09,11.0,Over capacity,20.0,24.0,True,False

============================END 2020_10_Octubre_BicingNou_ESTACIONS.csv=============================
===========================START 2020_11_Novembre_BicingNou_ESTACIONS.csv===========================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,is_installed,is_renting,is_returning,last_reported,is_charging_station,status,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,14.0,14.0,0.0,7.0,1,1,1,1.604185e+09,TRUE,IN_SERVICE,1.604185e+09,19.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,23.0,18.0,5.0,0.0,1,1,1,1.604185e+09,TRUE,IN_SERVICE,1.604185e+09,19.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,1.0,0.0,1.0,27.0,1,1,1,1.604185e+09,TRUE,IN_SERVICE,1.604185e+09,19.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,6.0,6.0,0.0,20.0,1,1,1,1.604185e+09,TRUE,IN_SERVICE,1.604185e+09,19.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,14.0,14.0,0.0,7.0,1,1,1,1.604185e+09,TRUE,IN_SERVICE,1.604186e+09,25.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231307,481.0,2.0,2.0,0.0,25.0,1,1,1,1.606777e+09,TRUE,IN_SERVICE,1.606777e+09,18.0,Over capacity,26.0,27.0,True,False
231308,482.0,2.0,2.0,0.0,22.0,1,1,1,1.606777e+09,TRUE,IN_SERVICE,1.606777e+09,18.0,Over capacity,23.0,24.0,True,False
231309,483.0,23.0,18.0,5.0,8.0,1,1,1,1.606777e+09,TRUE,IN_SERVICE,1.606777e+09,18.0,Over capacity,29.0,31.0,True,False
231310,500.0,6.0,0.0,6.0,21.0,1,1,1,1.606777e+09,TRUE,IN_SERVICE,1.606777e+09,18.0,Over capacity,23.0,27.0,True,False
231311,517.0,8.0,2.0,6.0,16.0,1,1,1,1.606777e+09,TRUE,IN_SERVICE,1.606777e+09,18.0,Over capacity,20.0,24.0,True,False

============================END 2020_11_Novembre_BicingNou_ESTACIONS.csv============================
===========================START 2020_12_Desembre_BicingNou_ESTACIONS.csv===========================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,9.0,9.0,0.0,11.0,1.606777e+09,TRUE,IN_SERVICE,1,1,1,1.606777e+09,30.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,11.0,8.0,3.0,15.0,1.606777e+09,TRUE,IN_SERVICE,1,1,1,1.606777e+09,30.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,3.0,2.0,1.0,25.0,1.606777e+09,TRUE,IN_SERVICE,1,1,1,1.606777e+09,30.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,13.0,13.0,0.0,12.0,1.606777e+09,TRUE,IN_SERVICE,1,1,1,1.606777e+09,30.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,9.0,9.0,0.0,11.0,1.606777e+09,TRUE,IN_SERVICE,1,1,1,1.606778e+09,24.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245594,482.0,11.0,5.0,6.0,13.0,1.609455e+09,TRUE,IN_SERVICE,1,1,1,1.609455e+09,26.0,Over capacity,23.0,24.0,True,False
245595,483.0,17.0,16.0,1.0,14.0,1.609455e+09,TRUE,IN_SERVICE,1,1,1,1.609455e+09,26.0,Over capacity,29.0,31.0,True,False
245596,500.0,16.0,7.0,9.0,11.0,1.609455e+09,TRUE,IN_SERVICE,1,1,1,1.609455e+09,26.0,Over capacity,23.0,27.0,True,False
245597,502.0,7.0,0.0,7.0,12.0,1.609455e+09,TRUE,IN_SERVICE,1,1,1,1.609455e+09,26.0,Over capacity,18.0,19.0,True,False
245598,517.0,18.0,17.0,1.0,5.0,1.609455e+09,TRUE,IN_SERVICE,1,1,1,1.609455e+09,26.0,Over capacity,20.0,23.0,True,False

============================END 2020_12_Desembre_BicingNou_ESTACIONS.csv============================
============================START 2021_01_Gener_BicingNou_ESTACIONS.csv=============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,5.0,5.0,0.0,16.0,1.609456e+09,TRUE,IN_SERVICE,1,1,1,1.609456e+09,22.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,17.0,10.0,7.0,9.0,1.609456e+09,TRUE,IN_SERVICE,1,1,1,1.609456e+09,22.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,7.0,0.0,7.0,19.0,1.609455e+09,TRUE,IN_SERVICE,1,1,1,1.609456e+09,22.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,2.0,1.0,1.0,25.0,1.609455e+09,TRUE,IN_SERVICE,1,1,1,1.609456e+09,22.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,5.0,5.0,0.0,16.0,1.609456e+09,TRUE,IN_SERVICE,1,1,1,1.609456e+09,29.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283239,473.0,5.0,0.0,5.0,25.0,1.612134e+09,TRUE,IN_SERVICE,1,1,1,1.612134e+09,22.0,Over capacity,20.0,30.0,True,False
283240,481.0,2.0,0.0,2.0,25.0,1.612134e+09,TRUE,IN_SERVICE,1,1,1,1.612134e+09,22.0,Over capacity,26.0,27.0,True,False
283241,483.0,3.0,0.0,3.0,28.0,1.612133e+09,TRUE,IN_SERVICE,1,1,1,1.612134e+09,22.0,Over capacity,29.0,31.0,True,False
283242,500.0,4.0,1.0,3.0,21.0,1.612134e+09,TRUE,IN_SERVICE,1,1,1,1.612134e+09,22.0,Over capacity,23.0,25.0,True,False
283243,517.0,8.0,5.0,3.0,16.0,1.612133e+09,TRUE,IN_SERVICE,1,1,1,1.612134e+09,22.0,Over capacity,20.0,24.0,True,False

=============================END 2021_01_Gener_BicingNou_ESTACIONS.csv==============================
============================START 2021_02_Febrer_BicingNou_ESTACIONS.csv============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,16.0,16.0,0.0,5.0,1.612134e+09,TRUE,IN_SERVICE,1,1,1,1.612134e+09,20.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,3.0,1.0,2.0,20.0,1.612134e+09,TRUE,IN_SERVICE,1,1,1,1.612134e+09,20.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,11.0,0.0,11.0,17.0,1.612134e+09,TRUE,IN_SERVICE,1,1,1,1.612134e+09,20.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,6.0,0.0,6.0,20.0,1.612134e+09,TRUE,IN_SERVICE,1,1,1,1.612134e+09,20.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,16.0,16.0,0.0,5.0,1.612134e+09,TRUE,IN_SERVICE,1,1,1,1.612134e+09,4.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228937,469.0,2.0,0.0,2.0,16.0,1.614553e+09,TRUE,IN_SERVICE,1,1,1,1.614553e+09,23.0,Over capacity,12.0,18.0,True,False
228938,473.0,2.0,1.0,1.0,28.0,1.614553e+09,TRUE,IN_SERVICE,1,1,1,1.614553e+09,23.0,Over capacity,20.0,30.0,True,False
228939,483.0,6.0,6.0,0.0,25.0,1.614553e+09,TRUE,IN_SERVICE,1,1,1,1.614553e+09,23.0,Over capacity,29.0,31.0,True,False
228940,500.0,7.0,4.0,3.0,17.0,1.614553e+09,TRUE,IN_SERVICE,1,1,1,1.614553e+09,23.0,Over capacity,23.0,24.0,True,False
228941,517.0,4.0,1.0,3.0,19.0,1.614553e+09,TRUE,IN_SERVICE,1,1,1,1.614553e+09,23.0,Over capacity,20.0,23.0,True,False

=============================END 2021_02_Febrer_BicingNou_ESTACIONS.csv=============================
============================START 2021_04_Abril_BicingNou_ESTACIONS.csv=============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,1.0,1.0,0.0,18.0,1.617228e+09,TRUE,IN_SERVICE,1,1,1,1.617228e+09,4.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,13.0,9.0,4.0,13.0,1.617228e+09,TRUE,IN_SERVICE,1,1,1,1.617228e+09,4.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,0.0,0.0,0.0,28.0,1.617228e+09,TRUE,IN_SERVICE,1,1,1,1.617228e+09,4.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,0.0,0.0,0.0,26.0,1.617228e+09,TRUE,IN_SERVICE,1,1,1,1.617228e+09,4.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,1.0,1.0,0.0,18.0,1.617228e+09,TRUE,IN_SERVICE,1,1,1,1.617228e+09,18.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238100,473.0,6.0,1.0,5.0,21.0,1.619819e+09,TRUE,IN_SERVICE,1,1,1,1.619820e+09,9.0,Over capacity,20.0,27.0,True,False
238101,482.0,3.0,0.0,3.0,21.0,1.619819e+09,TRUE,IN_SERVICE,1,1,1,1.619820e+09,9.0,Over capacity,23.0,24.0,True,False
238102,483.0,1.0,0.0,1.0,30.0,1.619820e+09,TRUE,IN_SERVICE,1,1,1,1.619820e+09,9.0,Over capacity,29.0,31.0,True,False
238103,500.0,4.0,0.0,4.0,21.0,1.619820e+09,TRUE,IN_SERVICE,1,1,1,1.619820e+09,9.0,Over capacity,23.0,25.0,True,False
238104,517.0,6.0,2.0,4.0,17.0,1.619820e+09,TRUE,IN_SERVICE,1,1,1,1.619820e+09,9.0,Over capacity,20.0,23.0,True,False

=============================END 2021_04_Abril_BicingNou_ESTACIONS.csv==============================
=============================START 2021_05_Maig_BicingNou_ESTACIONS.csv=============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,3.0,1.0,2.0,16.0,1.619820e+09,TRUE,IN_SERVICE,1,1,1,1.619820e+09,6.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,13.0,10.0,3.0,13.0,1.619820e+09,TRUE,IN_SERVICE,1,1,1,1.619820e+09,6.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,3.0,0.0,3.0,23.0,1.619820e+09,TRUE,IN_SERVICE,1,1,1,1.619820e+09,6.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,1.0,0.0,1.0,26.0,1.619820e+09,TRUE,IN_SERVICE,1,1,1,1.619820e+09,6.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,3.0,1.0,2.0,16.0,1.619820e+09,TRUE,IN_SERVICE,1,1,1,1.619820e+09,19.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225193,473.0,6.0,4.0,2.0,25.0,1.622498e+09,TRUE,IN_SERVICE,1,1,1,1.622498e+09,18.0,Over capacity,20.0,31.0,True,False
225194,482.0,8.0,8.0,0.0,16.0,1.622498e+09,TRUE,IN_SERVICE,1,1,1,1.622498e+09,18.0,Over capacity,23.0,24.0,True,False
225195,483.0,3.0,3.0,0.0,28.0,1.622498e+09,TRUE,IN_SERVICE,1,1,1,1.622498e+09,18.0,Over capacity,29.0,31.0,True,False
225196,500.0,2.0,0.0,2.0,22.0,1.622498e+09,TRUE,IN_SERVICE,1,1,1,1.622498e+09,18.0,Over capacity,23.0,24.0,True,False
225197,517.0,4.0,4.0,0.0,17.0,1.622498e+09,TRUE,IN_SERVICE,1,1,1,1.622498e+09,18.0,Over capacity,20.0,21.0,True,False

==============================END 2021_05_Maig_BicingNou_ESTACIONS.csv==============================
=============================START 2021_06_Juny_BicingNou_ESTACIONS.csv=============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,3.0,2.0,1.0,13.0,1.622498e+09,TRUE,IN_SERVICE,1,1,1,1.622498e+09,0.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,8.0,6.0,2.0,15.0,1.622498e+09,TRUE,IN_SERVICE,1,1,1,1.622498e+09,0.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,0.0,0.0,0.0,23.0,1.622498e+09,TRUE,IN_SERVICE,1,1,1,1.622498e+09,0.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,16.0,11.0,5.0,11.0,1.622498e+09,TRUE,IN_SERVICE,1,1,1,1.622498e+09,0.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,2.0,2.0,0.0,14.0,1.622499e+09,TRUE,IN_SERVICE,1,1,1,1.622499e+09,10.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187362,317.0,17.0,13.0,4.0,10.0,1.625090e+09,TRUE,IN_SERVICE,1,1,1,1.625090e+09,19.0,Over capacity,15.0,27.0,True,False
187363,469.0,3.0,0.0,3.0,14.0,1.625090e+09,TRUE,IN_SERVICE,1,1,1,1.625090e+09,19.0,Over capacity,12.0,17.0,True,False
187364,473.0,0.0,0.0,0.0,30.0,1.625090e+09,TRUE,IN_SERVICE,1,1,1,1.625090e+09,19.0,Over capacity,20.0,30.0,True,False
187365,481.0,0.0,0.0,0.0,27.0,1.625090e+09,TRUE,IN_SERVICE,1,1,1,1.625090e+09,19.0,Over capacity,26.0,27.0,True,False
187366,500.0,5.0,2.0,3.0,22.0,1.625090e+09,TRUE,IN_SERVICE,1,1,1,1.625090e+09,19.0,Over capacity,23.0,27.0,True,False

==============================END 2021_06_Juny_BicingNou_ESTACIONS.csv==============================
============================START 2021_07_Juliol_BicingNou_ESTACIONS.csv============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,5.0,5.0,0.0,15.0,1.625090e+09,TRUE,IN_SERVICE,1,1,1,1.625090e+09,12.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,11.0,10.0,1.0,15.0,1.625090e+09,TRUE,IN_SERVICE,1,1,1,1.625090e+09,12.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,1.0,0.0,1.0,23.0,1.625090e+09,TRUE,IN_SERVICE,1,1,1,1.625090e+09,12.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,1.0,1.0,0.0,26.0,1.625090e+09,TRUE,IN_SERVICE,1,1,1,1.625090e+09,12.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,5.0,5.0,0.0,15.0,1.625090e+09,TRUE,IN_SERVICE,1,1,1,1.625091e+09,4.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199623,317.0,16.0,15.0,1.0,11.0,1.627768e+09,TRUE,IN_SERVICE,1,1,1,1.627768e+09,24.0,Over capacity,15.0,27.0,True,False
199624,469.0,2.0,0.0,2.0,15.0,1.627768e+09,TRUE,IN_SERVICE,1,1,1,1.627768e+09,24.0,Over capacity,12.0,17.0,True,False
199625,473.0,4.0,0.0,4.0,27.0,1.627768e+09,TRUE,IN_SERVICE,1,1,1,1.627768e+09,24.0,Over capacity,20.0,31.0,True,False
199626,481.0,3.0,0.0,3.0,24.0,1.627768e+09,TRUE,IN_SERVICE,1,1,1,1.627768e+09,24.0,Over capacity,26.0,27.0,True,False
199627,500.0,3.0,2.0,1.0,24.0,1.627768e+09,TRUE,IN_SERVICE,1,1,1,1.627768e+09,24.0,Over capacity,23.0,27.0,True,False

=============================END 2021_07_Juliol_BicingNou_ESTACIONS.csv=============================
============================START 2021_08_Agost_BicingNou_ESTACIONS.csv=============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,16.0,15.0,1.0,2.0,1.627769e+09,TRUE,IN_SERVICE,1,1,1,1.627769e+09,10.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,3.0,3.0,0.0,20.0,1.627769e+09,TRUE,IN_SERVICE,1,1,1,1.627769e+09,10.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,10.0,10.0,0.0,16.0,1.627769e+09,TRUE,IN_SERVICE,1,1,1,1.627769e+09,10.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,1.0,0.0,1.0,26.0,1.627769e+09,TRUE,IN_SERVICE,1,1,1,1.627769e+09,10.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,16.0,15.0,1.0,2.0,1.627769e+09,TRUE,IN_SERVICE,1,1,1,1.627769e+09,9.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213753,469.0,1.0,0.0,1.0,15.0,1.630448e+09,TRUE,IN_SERVICE,1,1,1,1.630448e+09,11.0,Over capacity,12.0,16.0,True,False
213754,473.0,2.0,0.0,2.0,29.0,1.630448e+09,TRUE,IN_SERVICE,1,1,1,1.630448e+09,11.0,Over capacity,20.0,31.0,True,False
213755,481.0,6.0,5.0,1.0,21.0,1.630448e+09,TRUE,IN_SERVICE,1,1,1,1.630448e+09,11.0,Over capacity,26.0,27.0,True,False
213756,483.0,11.0,10.0,1.0,19.0,1.630448e+09,TRUE,IN_SERVICE,1,1,1,1.630448e+09,11.0,Over capacity,29.0,30.0,True,False
213757,500.0,2.0,0.0,2.0,23.0,1.630448e+09,TRUE,IN_SERVICE,1,1,1,1.630448e+09,11.0,Over capacity,23.0,25.0,True,False

=============================END 2021_08_Agost_BicingNou_ESTACIONS.csv==============================
===========================START 2021_09_Setembre_BicingNou_ESTACIONS.csv===========================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,10.0,10.0,0.0,10.0,1.630447e+09,TRUE,IN_SERVICE,1,1,1,1.630447e+09,30.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,5.0,5.0,0.0,18.0,1.630447e+09,TRUE,IN_SERVICE,1,1,1,1.630447e+09,30.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,2.0,0.0,2.0,26.0,1.630447e+09,TRUE,IN_SERVICE,1,1,1,1.630447e+09,30.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,1.0,0.0,1.0,25.0,1.630447e+09,TRUE,IN_SERVICE,1,1,1,1.630447e+09,30.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,9.0,9.0,0.0,11.0,1.630447e+09,TRUE,IN_SERVICE,1,1,1,1.630448e+09,21.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179507,469.0,1.0,0.0,1.0,17.0,1.633040e+09,TRUE,IN_SERVICE,1,1,1,1.633040e+09,21.0,Over capacity,12.0,18.0,True,False
179508,473.0,0.0,0.0,0.0,31.0,1.633040e+09,TRUE,IN_SERVICE,1,1,1,1.633040e+09,21.0,Over capacity,20.0,31.0,True,False
179509,481.0,4.0,2.0,2.0,23.0,1.633040e+09,TRUE,IN_SERVICE,1,1,1,1.633040e+09,21.0,Over capacity,26.0,27.0,True,False
179510,482.0,1.0,0.0,1.0,23.0,1.633040e+09,TRUE,IN_SERVICE,1,1,1,1.633040e+09,21.0,Over capacity,23.0,24.0,True,False
179511,500.0,2.0,1.0,1.0,24.0,1.633040e+09,TRUE,IN_SERVICE,1,1,1,1.633040e+09,21.0,Over capacity,23.0,26.0,True,False

============================END 2021_09_Setembre_BicingNou_ESTACIONS.csv============================
===========================START 2021_10_Octubre_BicingNou_ESTACIONS.csv============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,10.0,9.0,1.0,8.0,1.633039e+09,TRUE,IN_SERVICE,1,1,1,1.633039e+09,0.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,10.0,8.0,2.0,15.0,1.633039e+09,TRUE,IN_SERVICE,1,1,1,1.633039e+09,0.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,1.0,0.0,1.0,26.0,1.633039e+09,TRUE,IN_SERVICE,1,1,1,1.633039e+09,0.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,0.0,0.0,0.0,27.0,1.633039e+09,TRUE,IN_SERVICE,1,1,1,1.633039e+09,0.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,10.0,9.0,1.0,8.0,1.633039e+09,TRUE,IN_SERVICE,1,1,1,1.633039e+09,1.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181877,469.0,3.0,0.0,3.0,14.0,1.635722e+09,TRUE,IN_SERVICE,1,1,1,1.635722e+09,3.0,Over capacity,12.0,17.0,True,False
181878,473.0,4.0,0.0,4.0,26.0,1.635722e+09,TRUE,IN_SERVICE,1,1,1,1.635722e+09,3.0,Over capacity,20.0,30.0,True,False
181879,482.0,5.0,2.0,3.0,19.0,1.635722e+09,TRUE,IN_SERVICE,1,1,1,1.635722e+09,3.0,Over capacity,23.0,24.0,True,False
181880,483.0,1.0,0.0,1.0,31.0,1.635722e+09,TRUE,IN_SERVICE,1,1,1,1.635722e+09,3.0,Over capacity,29.0,32.0,True,False
181881,500.0,5.0,1.0,4.0,19.0,1.635722e+09,TRUE,IN_SERVICE,1,1,1,1.635722e+09,3.0,Over capacity,23.0,24.0,True,False

============================END 2021_10_Octubre_BicingNou_ESTACIONS.csv=============================
===========================START 2021_11_Novembre_BicingNou_ESTACIONS.csv===========================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,last_updated,ttl,traffic,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,10.0,10.0,0.0,0.0,1.635721e+09,TRUE,IN_SERVICE,1,1,1,1.635721e+09,22.0,NaN,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,2.0,1.0,1.0,18.0,1.635721e+09,TRUE,IN_SERVICE,1,1,1,1.635721e+09,22.0,NaN,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,17.0,17.0,0.0,10.0,1.635721e+09,TRUE,IN_SERVICE,1,1,1,1.635721e+09,22.0,NaN,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,17.0,15.0,2.0,10.0,1.635721e+09,TRUE,IN_SERVICE,1,1,1,1.635721e+09,22.0,NaN,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,10.0,9.0,1.0,0.0,1.635721e+09,TRUE,IN_SERVICE,1,1,1,1.635722e+09,26.0,NaN,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166497,481.0,0.0,0.0,0.0,27.0,1.638314e+09,TRUE,IN_SERVICE,1,1,1,1.638314e+09,23.0,-0.6,Over capacity,26.0,27.0,True,False
166498,482.0,5.0,2.0,3.0,19.0,1.638314e+09,TRUE,IN_SERVICE,1,1,1,1.638314e+09,23.0,2.2,Over capacity,23.0,24.0,True,False
166499,483.0,5.0,3.0,2.0,25.0,1.638314e+09,TRUE,IN_SERVICE,1,1,1,1.638314e+09,23.0,0.6,Over capacity,29.0,30.0,True,False
166500,500.0,5.0,0.0,5.0,19.0,1.638314e+09,TRUE,IN_SERVICE,1,1,1,1.638314e+09,23.0,0.3,Over capacity,23.0,24.0,True,False
166501,502.0,3.0,0.0,3.0,16.0,1.638314e+09,TRUE,IN_SERVICE,1,1,1,1.638314e+09,23.0,0.1,Over capacity,18.0,19.0,True,False

============================END 2021_11_Novembre_BicingNou_ESTACIONS.csv============================
===========================START 2021_12_Desembre_BicingNou_ESTACIONS.csv===========================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,9.0,9.0,0.0,10.0,1.638313e+09,TRUE,IN_SERVICE,1,1,1,-0.4,1.638313e+09,20.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,8.0,5.0,3.0,16.0,1.638313e+09,TRUE,IN_SERVICE,1,1,1,-3,1.638313e+09,20.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,0.0,0.0,0.0,25.0,1.638313e+09,TRUE,IN_SERVICE,1,1,1,1,1.638313e+09,20.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,0.0,0.0,0.0,26.0,1.638313e+09,TRUE,IN_SERVICE,1,1,1,-1.2,1.638313e+09,20.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,9.0,9.0,0.0,10.0,1.638313e+09,TRUE,IN_SERVICE,1,1,1,0.4,1.638314e+09,25.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222390,481.0,2.0,1.0,1.0,25.0,1.640992e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.640992e+09,23.0,Over capacity,26.0,27.0,True,False
222391,482.0,3.0,2.0,1.0,21.0,1.640992e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.640992e+09,23.0,Over capacity,23.0,24.0,True,False
222392,483.0,19.0,19.0,0.0,13.0,1.640992e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.640992e+09,23.0,Over capacity,29.0,32.0,True,False
222393,500.0,5.0,4.0,1.0,22.0,1.640992e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.640992e+09,23.0,Over capacity,23.0,27.0,True,False
222394,502.0,3.0,1.0,2.0,16.0,1.640992e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.640992e+09,23.0,Over capacity,18.0,19.0,True,False

============================END 2021_12_Desembre_BicingNou_ESTACIONS.csv============================
============================START 2022_01_Gener_BicingNou_ESTACIONS.csv=============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,4.0,4.0,0.0,16.0,1.640991e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.640992e+09,18.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,5.0,3.0,2.0,21.0,1.640992e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.640992e+09,18.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,8.0,0.0,8.0,20.0,1.640991e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.640992e+09,18.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,0.0,0.0,0.0,27.0,1.640991e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.640992e+09,18.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,4.0,4.0,0.0,16.0,1.640992e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.640992e+09,5.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252060,469.0,7.0,0.0,7.0,10.0,1.643671e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.643671e+09,30.0,Over capacity,12.0,17.0,True,False
252061,473.0,8.0,0.0,8.0,23.0,1.643671e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.643671e+09,30.0,Over capacity,20.0,31.0,True,False
252062,482.0,3.0,0.0,3.0,21.0,1.643671e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.643671e+09,30.0,Over capacity,23.0,24.0,True,False
252063,483.0,17.0,16.0,1.0,15.0,1.643671e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.643671e+09,30.0,Over capacity,29.0,32.0,True,False
252064,500.0,14.0,0.0,14.0,12.0,1.643671e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.643671e+09,30.0,Over capacity,23.0,26.0,True,False

=============================END 2022_01_Gener_BicingNou_ESTACIONS.csv==============================
============================START 2022_02_Febrer_BicingNou_ESTACIONS.csv============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,2.0,2.0,0.0,18.0,1.643670e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.643670e+09,11.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,27.0,16.0,11.0,0.0,1.643670e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.643670e+09,11.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,0.0,0.0,0.0,26.0,1.643670e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.643670e+09,11.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,3.0,0.0,3.0,23.0,1.643670e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.643670e+09,11.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,4.0,2.0,2.0,16.0,1.643670e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.643670e+09,2.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215164,473.0,10.0,7.0,3.0,21.0,1.646090e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.646090e+09,3.0,Over capacity,20.0,31.0,True,False
215165,481.0,6.0,0.0,6.0,21.0,1.646090e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.646090e+09,3.0,Over capacity,26.0,27.0,True,False
215166,482.0,4.0,0.0,4.0,20.0,1.646090e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.646090e+09,3.0,Over capacity,23.0,24.0,True,False
215167,483.0,14.0,8.0,6.0,17.0,1.646090e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.646090e+09,3.0,Over capacity,29.0,31.0,True,False
215168,500.0,17.0,0.0,17.0,10.0,1.646090e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.646090e+09,3.0,Over capacity,23.0,27.0,True,False

=============================END 2022_02_Febrer_BicingNou_ESTACIONS.csv=============================
============================START 2022_04_Abril_BicingNou_ESTACIONS.csv=============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,3.0,1.0,2.0,16.0,1.648764e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.648764e+09,16.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,14.0,6.0,8.0,9.0,1.648764e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.648764e+09,16.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,1.0,0.0,1.0,27.0,1.648764e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.648764e+09,16.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,11.0,8.0,3.0,16.0,1.648764e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.648764e+09,16.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,3.0,1.0,2.0,16.0,1.648764e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.648764e+09,27.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185118,262.0,1.0,0.0,1.0,24.0,1.651357e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.651357e+09,16.0,Over capacity,24.0,25.0,True,False
185119,269.0,9.0,8.0,1.0,13.0,1.651357e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.651357e+09,16.0,Over capacity,20.0,22.0,True,False
185120,317.0,4.0,4.0,0.0,23.0,1.651357e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.651357e+09,16.0,Over capacity,15.0,27.0,True,False
185121,469.0,6.0,0.0,6.0,12.0,1.651357e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.651357e+09,16.0,Over capacity,12.0,18.0,True,False
185122,473.0,4.0,0.0,4.0,26.0,1.651357e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.651357e+09,16.0,Over capacity,20.0,30.0,True,False

=============================END 2022_04_Abril_BicingNou_ESTACIONS.csv==============================
=============================START 2022_05_Maig_BicingNou_ESTACIONS.csv=============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,9.0,8.0,1.0,5.0,1.651356e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.651356e+09,10.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,3.0,2.0,1.0,23.0,1.651356e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.651356e+09,10.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,2.0,0.0,2.0,25.0,1.651356e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.651356e+09,10.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,3.0,0.0,3.0,24.0,1.651356e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.651356e+09,10.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,8.0,7.0,1.0,6.0,1.651356e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.651356e+09,24.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185655,481.0,2.0,2.0,0.0,25.0,1.654035e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.654035e+09,23.0,Over capacity,26.0,27.0,True,False
185656,482.0,4.0,0.0,4.0,20.0,1.654035e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.654035e+09,23.0,Over capacity,23.0,24.0,True,False
185657,483.0,4.0,3.0,1.0,27.0,1.654035e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.654035e+09,23.0,Over capacity,29.0,31.0,True,False
185658,500.0,10.0,0.0,10.0,16.0,1.654035e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.654035e+09,23.0,Over capacity,23.0,26.0,True,False
185659,502.0,0.0,0.0,0.0,19.0,1.654035e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.654035e+09,23.0,Over capacity,18.0,19.0,True,False

==============================END 2022_05_Maig_BicingNou_ESTACIONS.csv==============================
=============================START 2022_06_Juny_BicingNou_ESTACIONS.csv=============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,5.0,5.0,0.0,15.0,1.654034e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.654034e+09,25.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,3.0,2.0,1.0,17.0,1.654034e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.654034e+09,25.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,3.0,0.0,3.0,22.0,1.654034e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.654034e+09,25.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,15.0,8.0,7.0,12.0,1.654034e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.654034e+09,25.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,5.0,5.0,0.0,15.0,1.654035e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.654035e+09,18.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155421,317.0,5.0,5.0,0.0,18.0,1.656627e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.656627e+09,2.0,Over capacity,15.0,23.0,True,False
155422,469.0,1.0,0.0,1.0,15.0,1.656627e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.656627e+09,2.0,Over capacity,12.0,16.0,True,False
155423,473.0,5.0,0.0,5.0,25.0,1.656627e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.656627e+09,2.0,Over capacity,20.0,30.0,True,False
155424,481.0,7.0,6.0,1.0,20.0,1.656627e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.656627e+09,2.0,Over capacity,26.0,27.0,True,False
155425,482.0,5.0,4.0,1.0,19.0,1.656627e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.656627e+09,2.0,Over capacity,23.0,24.0,True,False

==============================END 2022_06_Juny_BicingNou_ESTACIONS.csv==============================
============================START 2022_07_Juliol_BicingNou_ESTACIONS.csv============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,6.0,5.0,1.0,10.0,1.656626e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.656626e+09,21.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,3.0,2.0,1.0,17.0,1.656626e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.656626e+09,21.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,1.0,1.0,0.0,25.0,1.656626e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.656626e+09,21.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,10.0,8.0,2.0,16.0,1.656626e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.656626e+09,21.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,7.0,7.0,0.0,9.0,1.656627e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.656627e+09,30.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136235,469.0,4.0,2.0,2.0,11.0,1.659305e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.659306e+09,9.0,Over capacity,12.0,15.0,True,False
136236,473.0,2.0,0.0,2.0,28.0,1.659306e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.659306e+09,9.0,Over capacity,20.0,30.0,True,False
136237,481.0,1.0,1.0,0.0,26.0,1.659306e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.659306e+09,9.0,Over capacity,26.0,27.0,True,False
136238,482.0,5.0,2.0,3.0,19.0,1.659305e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.659306e+09,9.0,Over capacity,23.0,24.0,True,False
136239,500.0,4.0,0.0,4.0,22.0,1.659306e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.659306e+09,9.0,Over capacity,23.0,26.0,True,False

=============================END 2022_07_Juliol_BicingNou_ESTACIONS.csv=============================
============================START 2022_08_Agost_BicingNou_ESTACIONS.csv=============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,5.0,5.0,0.0,13.0,1.659305e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.659305e+09,9.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,3.0,1.0,2.0,17.0,1.659305e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.659305e+09,9.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,2.0,0.0,2.0,25.0,1.659305e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.659305e+09,9.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,6.0,5.0,1.0,19.0,1.659305e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.659305e+09,9.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,4.0,4.0,0.0,14.0,1.659305e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.659305e+09,27.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166186,456.0,12.0,6.0,6.0,9.0,1.661984e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.661984e+09,15.0,Over capacity,20.0,21.0,True,False
166187,469.0,5.0,1.0,4.0,10.0,1.661984e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.661984e+09,15.0,Over capacity,12.0,15.0,True,False
166188,473.0,8.0,1.0,7.0,22.0,1.661984e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.661984e+09,15.0,Over capacity,20.0,30.0,True,False
166189,482.0,5.0,0.0,5.0,19.0,1.661984e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.661984e+09,15.0,Over capacity,23.0,24.0,True,False
166190,500.0,24.0,4.0,20.0,2.0,1.661984e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.661984e+09,15.0,Over capacity,23.0,26.0,True,False

=============================END 2022_08_Agost_BicingNou_ESTACIONS.csv==============================
===========================START 2022_09_Setembre_BicingNou_ESTACIONS.csv===========================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,5.0,2.0,3.0,15.0,1.661983e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.661983e+09,15.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,16.0,14.0,2.0,11.0,1.661983e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.661983e+09,15.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,4.0,2.0,2.0,21.0,1.661983e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.661983e+09,15.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,19.0,16.0,3.0,7.0,1.661983e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.661983e+09,15.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,6.0,2.0,4.0,14.0,1.661983e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.661983e+09,15.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133334,269.0,0.0,0.0,0.0,22.0,1.664576e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.664576e+09,14.0,Over capacity,20.0,22.0,True,False
133335,317.0,11.0,11.0,0.0,14.0,1.664576e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.664576e+09,14.0,Over capacity,15.0,25.0,True,False
133336,469.0,1.0,0.0,1.0,17.0,1.664576e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.664576e+09,14.0,Over capacity,12.0,18.0,True,False
133337,473.0,4.0,0.0,4.0,26.0,1.664576e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.664576e+09,14.0,Over capacity,20.0,30.0,True,False
133338,500.0,3.0,1.0,2.0,22.0,1.664576e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.664576e+09,14.0,Over capacity,23.0,25.0,True,False

============================END 2022_09_Setembre_BicingNou_ESTACIONS.csv============================
===========================START 2022_10_Octubre_BicingNou_ESTACIONS.csv============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,9.0,8.0,1.0,7.0,1.664575e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.664575e+09,18.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,16.0,9.0,7.0,11.0,1.664575e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.664575e+09,18.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,0.0,0.0,0.0,20.0,1.664575e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.664575e+09,18.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,3.0,3.0,0.0,23.0,1.664575e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.664575e+09,18.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,10.0,8.0,2.0,6.0,1.664575e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.664575e+09,14.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139531,469.0,5.0,1.0,4.0,13.0,1.667258e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.667258e+09,28.0,Over capacity,12.0,18.0,True,False
139532,473.0,6.0,0.0,6.0,23.0,1.667258e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.667258e+09,28.0,Over capacity,20.0,29.0,True,False
139533,481.0,4.0,1.0,3.0,23.0,1.667258e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.667258e+09,28.0,Over capacity,26.0,27.0,True,False
139534,482.0,1.0,0.0,1.0,23.0,1.667258e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.667258e+09,28.0,Over capacity,23.0,24.0,True,False
139535,500.0,7.0,0.0,7.0,19.0,1.667258e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.667258e+09,28.0,Over capacity,23.0,26.0,True,False

============================END 2022_10_Octubre_BicingNou_ESTACIONS.csv=============================
===========================START 2022_11_Novembre_BicingNou_ESTACIONS.csv===========================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,12.0,11.0,1.0,5.0,1.667257e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.667257e+09,21.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,19.0,13.0,6.0,7.0,1.667257e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.667257e+09,21.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,11.0,0.0,11.0,16.0,1.667257e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.667257e+09,21.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,10.0,9.0,1.0,16.0,1.667257e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.667257e+09,21.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,12.0,11.0,1.0,5.0,1.667257e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.667257e+09,20.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188683,469.0,9.0,0.0,9.0,9.0,1.669850e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.669850e+09,18.0,Over capacity,12.0,18.0,True,False
188684,473.0,9.0,0.0,9.0,22.0,1.669850e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.669850e+09,18.0,Over capacity,20.0,31.0,True,False
188685,481.0,6.0,0.0,6.0,21.0,1.669850e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.669850e+09,18.0,Over capacity,26.0,27.0,True,False
188686,482.0,5.0,0.0,5.0,19.0,1.669850e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.669850e+09,18.0,Over capacity,23.0,24.0,True,False
188687,500.0,12.0,0.0,12.0,15.0,1.669850e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.669850e+09,18.0,Over capacity,23.0,27.0,True,False

============================END 2022_11_Novembre_BicingNou_ESTACIONS.csv============================
===========================START 2022_12_Desembre_BicingNou_ESTACIONS.csv===========================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,0.0,0.0,0.0,20.0,1.669849e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.669849e+09,18.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,26.0,8.0,18.0,1.0,1.669849e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.669849e+09,18.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,0.0,0.0,0.0,27.0,1.669849e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.669849e+09,18.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,11.0,9.0,2.0,16.0,1.669849e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.669849e+09,18.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,0.0,0.0,0.0,20.0,1.669849e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.669849e+09,18.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223118,473.0,0.0,0.0,0.0,31.0,1.672528e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.672528e+09,19.0,Over capacity,20.0,31.0,True,False
223119,481.0,4.0,3.0,1.0,23.0,1.672528e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.672528e+09,19.0,Over capacity,26.0,27.0,True,False
223120,482.0,8.0,7.0,1.0,16.0,1.672528e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.672528e+09,19.0,Over capacity,23.0,24.0,True,False
223121,500.0,15.0,1.0,14.0,12.0,1.672528e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.672528e+09,19.0,Over capacity,23.0,27.0,True,False
223122,502.0,8.0,0.0,8.0,11.0,1.672528e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.672528e+09,19.0,Over capacity,18.0,19.0,True,False

============================END 2022_12_Desembre_BicingNou_ESTACIONS.csv============================
============================START 2023_01_Gener_BicingNou_ESTACIONS.csv=============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,3.0,2.0,1.0,18.0,1.672528e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.672528e+09,19.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,22.0,16.0,6.0,5.0,1.672528e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.672528e+09,19.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,15.0,1.0,14.0,13.0,1.672527e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.672528e+09,19.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,8.0,6.0,2.0,19.0,1.672527e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.672528e+09,19.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,3.0,2.0,1.0,18.0,1.672528e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.672528e+09,4.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208869,473.0,8.0,0.0,8.0,23.0,1.675207e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.675207e+09,26.0,Over capacity,20.0,31.0,True,False
208870,481.0,7.0,2.0,5.0,20.0,1.675207e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.675207e+09,26.0,Over capacity,26.0,27.0,True,False
208871,482.0,9.0,0.0,9.0,15.0,1.675207e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.675207e+09,26.0,Over capacity,23.0,24.0,True,False
208872,500.0,15.0,0.0,15.0,12.0,1.675207e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.675207e+09,26.0,Over capacity,23.0,27.0,True,False
208873,502.0,16.0,0.0,16.0,3.0,1.675207e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.675207e+09,26.0,Over capacity,18.0,19.0,True,False

=============================END 2023_01_Gener_BicingNou_ESTACIONS.csv==============================
============================START 2023_02_Febrer_BicingNou_ESTACIONS.csv============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,4.0,1.0,3.0,14.0,1.675206e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.675206e+09,26.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,14.0,9.0,5.0,13.0,1.675206e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.675206e+09,26.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,11.0,2.0,9.0,16.0,1.675206e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.675206e+09,26.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,19.0,14.0,5.0,8.0,1.675206e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.675206e+09,26.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,4.0,1.0,3.0,14.0,1.675206e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.675206e+09,12.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198924,448.0,13.0,12.0,1.0,14.0,1.677626e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.677626e+09,26.0,Over capacity,26.0,27.0,True,False
198925,469.0,10.0,1.0,9.0,8.0,1.677626e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.677626e+09,26.0,Over capacity,12.0,18.0,True,False
198926,473.0,5.0,0.0,5.0,25.0,1.677626e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.677626e+09,26.0,Over capacity,20.0,30.0,True,False
198927,481.0,5.0,1.0,4.0,22.0,1.677626e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.677626e+09,26.0,Over capacity,26.0,27.0,True,False
198928,502.0,17.0,0.0,17.0,2.0,1.677626e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.677626e+09,26.0,Over capacity,18.0,19.0,True,False

=============================END 2023_02_Febrer_BicingNou_ESTACIONS.csv=============================
============================START 2023_04_Abril_BicingNou_ESTACIONS.csv=============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,3.0,2.0,1.0,17.0,1.680300e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.680300e+09,22.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,2.0,0.0,2.0,23.0,1.680300e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.680300e+09,22.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,4.0,0.0,4.0,24.0,1.680300e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.680300e+09,22.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,7.0,6.0,1.0,19.0,1.680300e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.680300e+09,22.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,3.0,2.0,1.0,17.0,1.680300e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.680300e+09,9.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142241,287.0,11.0,11.0,0.0,5.0,1.682893e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.682893e+09,21.0,Over capacity,15.0,16.0,True,False
142242,317.0,7.0,3.0,4.0,20.0,1.682893e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.682893e+09,21.0,Over capacity,15.0,27.0,True,False
142243,456.0,17.0,1.0,16.0,4.0,1.682893e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.682893e+09,21.0,Over capacity,20.0,21.0,True,False
142244,469.0,4.0,1.0,3.0,14.0,1.682893e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.682893e+09,21.0,Over capacity,12.0,18.0,True,False
142245,473.0,9.0,0.0,9.0,22.0,1.682893e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.682893e+09,21.0,Over capacity,20.0,31.0,True,False

=============================END 2023_04_Abril_BicingNou_ESTACIONS.csv==============================
=============================START 2023_05_Maig_BicingNou_ESTACIONS.csv=============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,20.0,18.0,2.0,1.0,1.682892e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.682892e+09,21.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,11.0,10.0,1.0,15.0,1.682892e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.682892e+09,21.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,5.0,1.0,4.0,22.0,1.682892e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.682892e+09,21.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,3.0,3.0,0.0,23.0,1.682892e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.682892e+09,21.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,19.0,18.0,1.0,2.0,1.682892e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.682892e+09,3.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136773,271.0,2.0,2.0,0.0,19.0,1.685571e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.685571e+09,24.0,Over capacity,20.0,21.0,True,False
136774,287.0,0.0,0.0,0.0,16.0,1.685571e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.685571e+09,24.0,Over capacity,15.0,16.0,True,False
136775,317.0,13.0,12.0,1.0,13.0,1.685571e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.685571e+09,24.0,Over capacity,15.0,26.0,True,False
136776,469.0,9.0,0.0,9.0,7.0,1.685571e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.685571e+09,24.0,Over capacity,12.0,16.0,True,False
136777,473.0,4.0,0.0,4.0,26.0,1.685571e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.685571e+09,24.0,Over capacity,20.0,30.0,True,False

==============================END 2023_05_Maig_BicingNou_ESTACIONS.csv==============================
=============================START 2023_06_Juny_BicingNou_ESTACIONS.csv=============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,7.0,7.0,0.0,12.0,1.685570e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.685570e+09,24.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,15.0,12.0,3.0,9.0,1.685570e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.685570e+09,24.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,1.0,0.0,1.0,25.0,1.685570e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.685570e+09,24.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,1.0,1.0,0.0,26.0,1.685570e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.685570e+09,24.0,Invalid station_id,NaN,NaN,NaN,NaN
4,520.0,2.0,0.0,2.0,11.0,1.685570e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.685570e+09,24.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99186,269.0,2.0,1.0,1.0,21.0,1.688163e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.688163e+09,24.0,Over capacity,20.0,23.0,True,False
99187,317.0,17.0,17.0,0.0,3.0,1.688163e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.688163e+09,24.0,Over capacity,15.0,20.0,True,False
99188,469.0,0.0,0.0,0.0,17.0,1.688163e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.688163e+09,24.0,Over capacity,12.0,17.0,True,False
99189,473.0,2.0,0.0,2.0,28.0,1.688163e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.688163e+09,24.0,Over capacity,20.0,30.0,True,False
99190,481.0,7.0,7.0,0.0,20.0,1.688163e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.688163e+09,24.0,Over capacity,26.0,27.0,True,False

==============================END 2023_06_Juny_BicingNou_ESTACIONS.csv==============================
============================START 2023_07_Juliol_BicingNou_ESTACIONS.csv============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,11.0,9.0,2.0,5.0,1.688162e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.688162e+09,5.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,11.0,6.0,5.0,14.0,1.688162e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.688162e+09,5.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,3.0,1.0,2.0,25.0,1.688162e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.688162e+09,5.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,0.0,0.0,0.0,27.0,1.688162e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.688162e+09,5.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,8.0,6.0,2.0,6.0,1.688162e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.688163e+09,19.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106220,271.0,7.0,5.0,2.0,14.0,1.690842e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.690842e+09,16.0,Over capacity,20.0,21.0,True,False
106221,317.0,10.0,9.0,1.0,15.0,1.690842e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.690842e+09,16.0,Over capacity,15.0,25.0,True,False
106222,469.0,3.0,1.0,2.0,15.0,1.690841e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.690842e+09,16.0,Over capacity,12.0,18.0,True,False
106223,473.0,8.0,8.0,0.0,21.0,1.690841e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.690842e+09,16.0,Over capacity,20.0,29.0,True,False
106224,481.0,4.0,3.0,1.0,23.0,1.690841e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.690842e+09,16.0,Over capacity,26.0,27.0,True,False

=============================END 2023_07_Juliol_BicingNou_ESTACIONS.csv=============================
============================START 2023_08_Agost_BicingNou_ESTACIONS.csv=============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,V1,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,5.0,5.0,0.0,10.0,1.690841e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.690841e+09,16.0,NaN,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,0.0,0.0,0.0,18.0,1.690841e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.690841e+09,16.0,NaN,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,9.0,1.0,8.0,14.0,1.690841e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.690841e+09,16.0,NaN,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,3.0,1.0,2.0,24.0,1.690841e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.690841e+09,16.0,NaN,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,5.0,5.0,0.0,10.0,1.690841e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.690841e+09,18.0,NaN,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88959,287.0,1.0,1.0,0.0,15.0,1.692736e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.692736e+09,6.0,NaN,Over capacity,15.0,16.0,True,False
88960,317.0,24.0,14.0,10.0,2.0,1.692736e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.692736e+09,6.0,NaN,Over capacity,15.0,26.0,True,False
88961,469.0,3.0,3.0,0.0,14.0,1.692736e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.692736e+09,6.0,NaN,Over capacity,12.0,17.0,True,False
88962,473.0,2.0,0.0,2.0,26.0,1.692736e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.692736e+09,6.0,NaN,Over capacity,20.0,28.0,True,False
88963,481.0,5.0,4.0,1.0,22.0,1.692736e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.692736e+09,6.0,NaN,Over capacity,26.0,27.0,True,False

=============================END 2023_08_Agost_BicingNou_ESTACIONS.csv==============================
===========================START 2023_09_Setembre_BicingNou_ESTACIONS.csv===========================
All detected anomalies across files:

,V1,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Invalid station_id,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Invalid station_id,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Invalid station_id,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Invalid station_id,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91980,NaN,248.0,9.0,8.0,1.0,18.0,1.696112e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.696112e+09,11.0,Over capacity,26.0,27.0,True,False
91981,NaN,269.0,15.0,10.0,5.0,8.0,1.696112e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.696112e+09,11.0,Over capacity,20.0,23.0,True,False
91982,NaN,317.0,15.0,7.0,8.0,9.0,1.696112e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.696112e+09,11.0,Over capacity,15.0,24.0,True,False
91983,NaN,469.0,7.0,0.0,7.0,11.0,1.696112e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.696112e+09,11.0,Over capacity,12.0,18.0,True,False
91984,NaN,473.0,2.0,1.0,1.0,27.0,1.696112e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.696112e+09,11.0,Over capacity,20.0,29.0,True,False

============================END 2023_09_Setembre_BicingNou_ESTACIONS.csv============================
===========================START 2023_10_Octubre_BicingNou_ESTACIONS.csv============================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,7.0,7.0,0.0,10.0,1.696111e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.696111e+09,21.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,2.0,0.0,2.0,17.0,1.696111e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.696111e+09,21.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,3.0,0.0,3.0,20.0,1.696111e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.696111e+09,21.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,12.0,6.0,6.0,13.0,1.696111e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.696111e+09,21.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,7.0,7.0,0.0,10.0,1.696111e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.696111e+09,11.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116329,317.0,11.0,9.0,2.0,14.0,1.698794e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.698794e+09,0.0,Over capacity,15.0,25.0,True,False
116330,448.0,6.0,1.0,5.0,21.0,1.698794e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.698794e+09,0.0,Over capacity,26.0,27.0,True,False
116331,469.0,1.0,0.0,1.0,17.0,1.698794e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.698794e+09,0.0,Over capacity,12.0,18.0,True,False
116332,473.0,3.0,1.0,2.0,27.0,1.698794e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.698794e+09,0.0,Over capacity,20.0,30.0,True,False
116333,481.0,0.0,0.0,0.0,27.0,1.698794e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.698794e+09,0.0,Over capacity,26.0,27.0,True,False

============================END 2023_10_Octubre_BicingNou_ESTACIONS.csv=============================
===========================START 2023_11_Novembre_BicingNou_ESTACIONS.csv===========================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,16.0,10.0,6.0,5.0,1.698793e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.698793e+09,0.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,18.0,10.0,8.0,6.0,1.698793e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.698793e+09,0.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,3.0,0.0,3.0,24.0,1.698793e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.698793e+09,0.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,2.0,1.0,1.0,25.0,1.698793e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.698793e+09,0.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,18.0,10.0,8.0,3.0,1.698793e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.698793e+09,0.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117256,269.0,5.0,4.0,1.0,18.0,1.701386e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.701386e+09,0.0,Over capacity,20.0,23.0,True,False
117257,317.0,10.0,1.0,9.0,17.0,1.701386e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.701386e+09,0.0,Over capacity,15.0,27.0,True,False
117258,469.0,10.0,2.0,8.0,5.0,1.701386e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.701386e+09,0.0,Over capacity,12.0,15.0,True,False
117259,473.0,10.0,0.0,10.0,21.0,1.701386e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.701386e+09,0.0,Over capacity,20.0,31.0,True,False
117260,481.0,2.0,0.0,2.0,25.0,1.701386e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.701386e+09,0.0,Over capacity,26.0,27.0,True,False

============================END 2023_11_Novembre_BicingNou_ESTACIONS.csv============================
===========================START 2023_12_Desembre_BicingNou_ESTACIONS.csv===========================
All detected anomalies across files:

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,reason,capacity,total_bikes_docks,is_over_capacity,is_ebike_error
0,48.0,4.0,0.0,4.0,14.0,1.701385e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.701385e+09,1.0,Invalid station_id,NaN,NaN,NaN,NaN
1,188.0,13.0,1.0,12.0,10.0,1.701385e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.701385e+09,1.0,Invalid station_id,NaN,NaN,NaN,NaN
2,429.0,4.0,0.0,4.0,24.0,1.701385e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.701385e+09,1.0,Invalid station_id,NaN,NaN,NaN,NaN
3,487.0,2.0,0.0,2.0,25.0,1.701385e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.701385e+09,1.0,Invalid station_id,NaN,NaN,NaN,NaN
4,48.0,3.0,0.0,3.0,15.0,1.701385e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.701385e+09,0.0,Invalid station_id,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135414,317.0,17.0,14.0,3.0,8.0,1.704064e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.704065e+09,1.0,Over capacity,15.0,25.0,True,False
135415,448.0,8.0,6.0,2.0,19.0,1.704064e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.704065e+09,1.0,Over capacity,26.0,27.0,True,False
135416,469.0,16.0,1.0,15.0,0.0,1.704064e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.704065e+09,1.0,Over capacity,12.0,16.0,True,False
135417,473.0,3.0,0.0,3.0,28.0,1.704064e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.704065e+09,1.0,Over capacity,20.0,31.0,True,False
135418,481.0,6.0,1.0,5.0,21.0,1.704064e+09,TRUE,IN_SERVICE,1,1,1,NaN,1.704065e+09,1.0,Over capacity,26.0,27.0,True,False

============================END 2023_12_Desembre_BicingNou_ESTACIONS.csv============================